$main-color: #0a3a40;

@mixin main-setting {
  * {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $primary-color;
    body {
      width: 100vw;
      overflow-x: hidden;
    }
    ul {
      list-style: none;
    }
    a {
      text-decoration: none;
    }
  }
}

@mixin large-screen {
  @media (width < 80rem) {
    @content;
  }
}

@mixin different-aspect-ratio {
  @media (min-aspect-ratio: 3/1) {
    @content;
  }
}

@mixin medium-screen {
  @media (max-width: 65rem) {
    @content;
  }
}
@mixin small-medium-screen {
  @media (width < 55rem) {
    @content;
  }
}

@mixin small-screen {
  @media (max-width: 40rem) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-frame {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

@mixin button-style($bg-color: $primary-color, $text-color: $secondary-color) {
  padding: 0.5rem 1rem;
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

@mixin scroll-primary {
  overflow-y: scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0.35rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($background-secondary, 0.5);

    &:hover {
      background-color: rgba($background-secondary, 1);
    }
  }
}

@mixin flexbox($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin basic-focus {
  &:focus {
    outline: $focus-color 2px solid;
    outline-offset: 0px;
  }
}

@mixin skeleton {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(lighten($main-color, 30), 0) 0,
      rgba(lighten($main-color, 30), 0.2) 20%,
      rgba(lighten($main-color, 30), 0.5) 60%,
      rgba(lighten($main-color, 30), 0)
    );
    animation: shimmer 5s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
