//variables
$primary-color: rgb(50, 50, 50);
$secondary-color: white;
$error-color: #c95661;
$addons-color: rgba(0, 0, 0, 0.6);

// background themes
$background-primary: #50a0bf;
$background-secondary: #79bed9;
//
$main-color: #0a3a40;

// fonts settings
$primary-font: "Open Sans", sans-serif;

//margins and paddings
$default-margin: 0.5rem;
$default-padding: 0.5rem;

//responzive breakpoints
$breakpoint-sm: 40rem; // ? 36rem ??
$breakpoint-md: 60rem; // 48rem ??
$breakpoint-lg: 992px; // 62rem?
$breakpoint-xl: 75rem; // or more?

// shadows and border
$default-radius: 0.5rem;
$default-shadow: 0 0 8px rgba(0, 0, 0, 1);

//length
$max-width: 80rem;
