//variables
$primary-color: rgb(50, 50, 50);
$secondary-color: white;
$error-color: #c95661;
$correct-color: #46804c;
$addons-color: rgba(0, 0, 0, 0.6);
$text-color: #303030;

// background themes
$background-primary: #50a0bf;
$background-secondary: #79bed9;
//
$main-color: #0a3a40;
$focus-color: lighten($main-color, 40);
$input-bg: lighten($main-color, 80);
$line-color: lighten($main-color, 20);
$header-color: $main-color;
// fonts settings
$primary-font: "Open Sans", sans-serif;

$primary-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25),
  inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);

//margins and paddings
$standard-size: 0.5rem;
$size-sm: 0.15rem;

//responzive breakpoints
$breakpoint-sm: 40rem; // ? 36rem ??
$breakpoint-md: 60rem; // 48rem ??
$breakpoint-lg: 992px; // 62rem?
$breakpoint-xl: 75rem; // or more?

// shadows and border
$border-radius: 0.35rem;
$border-sm: 0.15rem;

//length
$max-width: 80rem;
