@import "../../assets/styles/addons/variables",
  "../../assets/styles/addons/mixins";

$line-color: grey;
$text-color: #303030;
$primary-c: $main-color;
$input-bg: lighten($main-color, 80);

fieldset {
  border: none;
  width: 10rem;
  padding-left: $standard-size;
}

.container {
  display: grid;
  max-width: $max-width;
  margin: 0 auto;
  padding: $standard-size * 2;
}

.box {
  display: grid;
  gap: $standard-size * 4;
  margin-top: $standard-size * 4;
}

.item {
  display: grid;
  grid-template-columns: max-content 1fr;
  width: fit-content;
  place-items: center;
  column-gap: $standard-size * 2;
  .primary-button {
    grid-column: 2;
  }
}

.itemInfo {
  display: grid;
}

span,
h1,
h2,
h3,
h4,
p,
button {
  color: $text-color;
  //font-size: 0.9rem;
}

.bold {
  color: #222;
  font-weight: bold;
  font-size: 1.1rem;
}

.newPassword {
  display: none;
  width: 15rem;
  gap: $standard-size;
  padding: $standard-size;
  transition: display 0.3s, translate 0.3s, opacity 0.3s, scale 0.3s;
  transition-behavior: allow-discrete;
  scale: 0.5;
  opacity: 0;
  border-radius: 0.35rem;
  margin-top: $standard-size;
  z-index: 10;
}

.expanded {
  display: grid;
  translate: 0;
  scale: 1;
  opacity: 1;

  @starting-style {
    scale: 0.5;
    opacity: 0;
  }
}

.primary-button:disabled {
  background-color: $error-color;
}

.profileInput {
  border-radius: $border-radius;
  border: 1px lighten($main-color, 30) solid;
  padding: $standard-size * 0.5;
  background-color: lighten($main-color, 80);
  width: 100%;
  transition: 0.4s;

  @starting-style {
    width: 0;
  }

  &:focus {
    outline: 1px $main-color solid;
  }

  &.valid {
    border: 1px mediumaquamarine solid;
    &:focus {
      outline: 1px mediumaquamarine solid;
    }
  }

  &.invalid {
    border: 1px red solid;
    &:focus {
      outline: 1px red solid;
    }
  }
}

.emailForm {
  display: grid;
  gap: $standard-size;
  grid-template-columns: 1fr 1fr;
  margin-top: $standard-size;
  width: fit-content;
}

.error {
  color: $error-color;
}

.correct {
  color: $correct-color;
}

.containerLevels {
  display: grid;
  box-shadow: $primary-shadow;
  border-radius: $border-radius;
}

.pageList {
  display: grid;
  li {
    display: grid;
    padding: $standard-size;
    grid-template-columns: subgrid;
    align-items: center;
    grid-column: span 2;
    border-bottom: 1px solid lighten($main-color, 20);
    background-color: $input-bg;
    font-weight: bold;

    span {
      display: flex;
      justify-content: center;
    }
  }
}

.levelStats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $standard-size;
  width: 30rem;
  place-self: end;
  align-items: center;
}

.levelStats button {
  display: flex;
  align-items: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

li.header {
  grid-template-columns: subgrid;
  grid-column: span 2;
  border-radius: $border-radius $border-radius 0 0;
  background-color: lighten($main-color, 0);

  .firstSpan {
    justify-content: flex-start;
  }
  span {
    color: white;
    font-weight: bold;
  }
}

.headerLabels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navigation {
  display: flex;
  background-color: $main-color;
  padding: $standard-size;
  color: white;
  border-radius: 0 0 $border-radius $border-radius;
}

.actualPage {
  color: white;
}

.levelContent {
  display: grid;
  grid-template-rows: 0fr;
  overflow-y: hidden;
  transition: grid-template-rows 1s;
  padding-left: 0.5rem;
}

.levelContent.open {
  grid-template-rows: 1fr;
}

.levelDescription {
  display: grid;
  min-height: 0;
  transition: visibility 1s;
  visibility: visible;
  padding-right: $standard-size;

  h4 {
    font-weight: bold;
  }
  p {
    font-weight: normal;
  }
}

.levelWrap {
  .firstSpan {
    justify-content: flex-start;
  }
}

.description {
  display: flex;
  //width: 20rem;
  background-color: lighten($main-color, 75);
  padding: $standard-size;
  border-radius: $border-radius;
}

.formWrapper {
  display: grid;
  grid-template-rows: 1fr;

  //overflow: hidden;
  transition: grid-template-rows 1s;
  padding-right: $standard-size;
  @starting-style {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 1s;
  }
}

.editForm {
  display: grid;
  position: relative;
  margin-top: 1rem;
  min-height: 0;
}

.editTextarea {
  color: $text-color;
  margin-left: 0.2rem;
  padding: $standard-size;
  background-color: lighten($main-color, 75);

  resize: none;

  &::placeholder {
    color: $text-color;
  }

  &:focus {
    outline: none;
    border-color: $main-color;
    outline: 1px solid rgba($main-color, 0.35);
  }

  &[aria-invalid="true"] {
    border-color: #dc3545;
  }
}

.errorMessage {
  color: $error-color;
  margin-top: $standard-size;
  padding: $standard-size;
  border-radius: $border-radius;
  background-color: rgba($error-color, 0.1);
}

button:focus {
  outline-offset: 0.15rem;
}

.primaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $standard-size * 0.5;
  //padding-inline: 1rem;
  border-radius: $border-radius;
  //box-shadow: 0 0 2px rgba(128, 128, 128, 0.63);
  //margin-left: 0.5rem;
  width: fit-content;
  @include basic-focus;
  // background-color: lighten($color: $main-color, $amount: 70);
}

.buttonBox {
  display: flex;
  align-items: center;
  gap: $standard-size;
}

.buttonPage {
  display: flex;
  align-items: center;
  justify-items: center;
  //background-color: rgb(26, 107, 107);
}

.buttonPage span {
  color: white;
}

button span {
  font-weight: bold;
}

.tooltip {
  position: absolute;
  background-color: rosybrown;
}

.counter {
  place-self: end;
}

.deleteBox {
  display: none;
  padding: $standard-size;
  width: 15rem;
  border: 2px solid lighten($main-color, 10);
  box-shadow: $primary-shadow;
  border-radius: $border-radius;
  position: absolute;
  top: 2rem;
  right: 5rem;
  background-color: lighten($main-color, 80);
  z-index: 1;
  opacity: 0;
  scale: 0.3;
  transition: display 0.3s, scale 0.3s, opacity 0.3s;
  transition-behavior: allow-discrete;
}

.deleteBox.active {
  display: grid;
  gap: $standard-size;
  opacity: 1;
  scale: 1;
  @starting-style {
    opacity: 0;
    scale: 0.3;
  }
}

.deleteButton {
  background-color: $error-color;
  width: fit-content;
  padding: $standard-size * 0.5;
  border-radius: $border-radius;
  @include basic-focus;
  span {
    color: white;
  }
}

.deleteInput {
  padding: $standard-size * 0.5;
  border-radius: $border-radius;
  font-weight: bold;
  @include basic-focus;
  &:focus {
    background-color: lighten($main-color, $amount: 70);
  }
}
