@import "../../assets/styles/addons/mixins",
  "../../assets/styles/addons/variables";

.intro {
  display: flex;
  position: relative;
  width: 104rem;
  max-width: 95%;
  height: 100dvh;
  max-height: calc(100dvh - 4rem);
  aspect-ratio: 16/9;
  margin: 0 auto;
  // overflow: hidden;
  &:has(.portrait) {
    aspect-ratio: 2/3;
  }
}

.intro-background {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 auto;
  opacity: 1;
  transition: 1s;
  overflow: hidden;
  @starting-style {
    opacity: 0;
  }
  article {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 8%;
    background-color: rgba(white, 0.7);
    width: 65%;
    max-height: 75%;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 3rem 0.5rem;
    font-size: 1.2rem;
    overflow-y: scroll;
    @include scroll-primary;
    &::-webkit-scrollbar-thumb {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }
  }
  img {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    z-index: -1;
  }
  &.portrait {
    justify-content: center;
    img {
      width: auto;
      height: 100%;
      aspect-ratio: 2/3;
    }
  }
  @include medium-screen {
    article {
      font-size: 1rem;
    }
    &.portrait {
      article {
        left: 12%;
      }
      article.second-position {
        top: 40%;
        left: 45%;
      }
    }
  }
}

.img-intro-animation {
  animation: img-animation 0.5s linear forwards;
}

@keyframes img-animation {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.button-next {
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}

@keyframes go-in {
  100% {
    transform: translateX(0);
  }
}

@keyframes go-out {
  100% {
    transform: translateX(-100%);
  }
}

// positions of articles
article.second-position {
  top: 35%;
  left: 55%;
  width: 40%;
  background-color: rgba(white, 0.85);
}

article.third-position {
  top: 55%;
}

.portrait:has(.third-position) {
  background-position: bottom;
  article.third-position {
    top: 15%;
  }
}
