:root{
    --time: 50s;
}
    

.background-clouds{
    display: flex;
    background-color: transparent;
    position: absolute;
    top: 5vh;
    width: 100%;
    gap: 5rem;
    transition: 10s;
    animation: clouds-flow var(--time) linear infinite;
    img{
        position: relative;
        width: 30vw;
        max-width: 23rem;
        opacity: 0.2;
        top: 5rem;
        transition: 20s;
    }
}

.background-clouds-second{
    display: flex;
    background-color: transparent;
    position: absolute;
    top: 5vh;
    width: 100%;
    gap: 5rem;
    transition: 10s;
    transform: translateX(-160vw);
    animation: clouds-flow var(--time) linear 25s infinite;
    img{
        position: relative;
        width: 30vw;
        max-width: 23rem;
        opacity: 0.2;
        top: 5rem;
        transition: 20s;
    }
    @media (min-width: 90rem){
        transform: translateX(-120%);
        img{
            width: 40vw;
        }
    }
}

@keyframes clouds-flow {
    0%{
        transform: translateX(-160vw);
    }
    100%{
        transform: translateX(100vw);
    }
}

@media (min-width: 90rem) {
    @keyframes clouds-flow {
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(100%);
        }
    }
}