// imports and global settings
@import "./addons/variables", "./addons/mixins";
@include main-setting;

$primary-text: rgba(60, 60, 60, 1);
$standard-section-bgc: rgba(0, 0, 0, 0.05);

// homepage styles
.container-home {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  max-width: $max-width;
  margin: 0 auto;
  h2 {
    font-size: 2rem;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 1.25rem;
    //text-wrap: balance;
  }
}

// main navigation and menu
.container-menu {
  display: flex;
  position: relative;
  background-color: $main-color;
  box-shadow: 0 0 5px black;
  justify-content: center;
  height: 4rem;

  a {
    font-size: 1.15rem;
    font-weight: bold;
    position: relative;
    z-index: 2;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 0;
      bottom: 0;
      left: 0;
      background-color: white;
      transition: 0.5s ease;
    }

    &:hover::after {
      width: 100%;
    }

    &.active {
      span {
        color: rgba(255, 255, 255, 0.6);
      }

      &::after {
        background-color: rgba(255, 255, 255, 0.2);
        width: 100%;
      }
    }

    span {
      color: $secondary-color;

      @include small-screen {
        visibility: hidden;
        height: 0.5rem;
      }
    }
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: $max-width;
  }

  //styles for main menu
  .menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 2vw;
    @include small-screen {
      display: none;
      //responsive styles for small screen(40rem)
      position: absolute;
      height: fit-content;
      top: 4rem;
      padding: 0.5rem;
      margin-right: 0.75rem;
      border-radius: 0 0 0.5rem 0.5rem;
      background-color: $main-color;
      flex-direction: column;
      transition: 0.5s;
      opacity: 0;
      z-index: 5;
      &.active {
        display: flex;
      }
      .menu__item {
        z-index: 2;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}

// styles for items in menu
.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    position: relative;
    bottom: -0.25rem;
    width: 1.5rem;
  }

  &.active {
    img {
      filter: brightness(0.8);
    }
  }

  &.logout {
    img {
      filter: brightness(1);
    }

    &.active {
      span {
        color: $secondary-color;
      }
    }

    &::after {
      height: 0;
    }
  }
}

//hamburger menu for small screen (40rem)
@include small-screen {
  .menu-hamburger {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    top: 1.5rem;
    flex-direction: column;
    height: 1.75rem;
    width: 2rem;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin-right: 6.5vw;
    span {
      display: flex;
      align-items: center;
      background-color: $secondary-color;
      width: 100%;
      height: 0.35rem;
      transition: 0.5s;
      border-radius: 0.5rem;

      &.active {
        box-shadow: inset 0 0 5px black;
      }
    }

    &:hover span {
      background-color: rgba($secondary-color, 0.8);
    }
  }
}

// styles for about page
.container-about {
  grid-column: 2;
  display: grid;
  background-color: $main-color;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 auto;
  margin-block: 3rem;
  padding: 1rem;
  box-shadow: 0 0 8px black;
  max-width: $max-width;
  max-height: 84dvh;
  overflow-y: scroll;
  @include scroll-primary;
  // styles for medium screen 65rem
  @media (width < 100rem) {
    width: 80%;
  }
  @include medium-screen {
    grid-template-columns: repeat(2, 1fr);
  }

  // styles for small screen 40rem
  @include small-screen {
    grid-template-columns: 1fr;
  }

  article {
    grid-row: span 3;
    display: grid;
    grid-template-rows: subgrid;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    &.low-level {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 10rem;
    }
    h2,
    p,
    button {
      color: $secondary-color;
      font-weight: bold;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      height: fit-content;
      width: fit-content;
      padding: 0.2rem;
      padding-inline: 0.5rem;
      border-radius: 0.25rem;
      font-size: 1.1rem;
      transition: 1s;
      &:hover {
        background-color: $addons-color;
      }
    }
  }
}

// an information about a level that can help to the next level
.container-level {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
  margin-bottom: 2rem;
  row-gap: 1rem;
  main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
    background-color: $standard-section-bgc;
    border-radius: 0.5rem;
  }
  section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: $standard-section-bgc;
    border-radius: 0.5rem;
  }
  article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  hr {
    border: 0.1rem solid #297883;
    opacity: 0.15;
  }
  h2 {
    text-transform: uppercase;
  }
  h2,
  h3,
  p,
  li {
    font-size: 1.5rem;
  }
  h2,
  h3,
  p,
  li {
    color: $primary-text;
  }
  p {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
  }
  li {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
    }
  }
  img {
    height: 1.25rem;
    width: 1.25rem;
    position: relative;
    top: 0.17rem;
  }
  .video__section {
    iframe {
      width: 840px;
      height: 473px;
      margin: 0 auto;
      margin-top: 1rem;
      border-radius: 1rem;
      box-shadow: 0 0 0.5rem black;
      @include medium-screen {
        width: 560px;
        height: 315px;
      }
    }
  }
  .tip__section {
    background-color: rgba(45, 221, 183, 0.2);
  }
  .article__card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    h2 {
      position: absolute;
      z-index: 1;
      font-size: 3rem;
      color: $secondary-color;
      transition: 0.5s;
    }
    img {
      width: 90%;
      max-width: 50rem;
      height: 90%;
      border-radius: 1rem;
      filter: brightness(0.6);
      box-shadow: 0 0 8px $addons-color;
      transition: 0.5s;
    }
    &:hover h2 {
      opacity: 0;
      transform: translateY(-20rem);
    }
    &:hover img {
      filter: brightness(1);
      transform: scale(1.05);
      box-shadow: 0px 0px 0px transparent;
    }
    p {
      display: flex;
      position: absolute;
      font-size: 3rem;
      font-weight: bold;
      opacity: 0;
      padding: 1rem;
      color: $secondary-color;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.568);
      transform: translateY(20rem);
      transition: 0.5s;
      z-index: 2;
    }
    &:hover p {
      opacity: 1;
      transform: translateY(0);
    }
    .fancy-border {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }
}

// wrapper is used in registration page
// and defines main layout for the page
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
  //height: 100vh;
}

// main part of Registration page
.container-login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba($main-color, 0.85);
  height: 15rem;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 0.5rem;

  //overflow: hidden;
  @include small-screen {
    grid-template-columns: 1fr;
    height: auto;
  }
}

// part of login-container wich contains some information
// plus user can select between sign up/login there
.login__info {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    gap: 0.5rem;
  }

  span {
    font-size: 1.25rem;
    color: $secondary-color;
    margin-inline: 0.5rem;
  }

  button {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1.25rem;
    color: $secondary-color;
    cursor: pointer;
    transition: 0.5s;
    padding: 0.35rem 0.25rem 0.35rem 0.25rem;
    position: relative;
    z-index: 1;

    &.active {
      transition: 0.5s;
      border-radius: 0.25rem;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  p {
    color: $secondary-color;
    font-size: 1.25rem;
  }
}

// part of login-container which contains inputs for username, password, email
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 18rem;
  margin: 0 auto;
  opacity: 0;
  animation: opacity 0.85s ease-in forwards;
  padding-inline: 0.5rem;
  input {
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    color: $secondary-color;
    transition: 0.5s;

    &::placeholder {
      transition: 0.25s;
      color: $secondary-color;
    }

    &:focus {
      outline: none;

      &::placeholder {
        opacity: 0;
      }
    }
  }

  input[type="submit"] {
    width: fit-content;
    background-color: black;
    color: $secondary-color;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.25rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: $secondary-color;
      color: black;
      transform: scale(1.1);
    }
  }

  @include small-screen {
    margin: 1rem 0 0 0;
  }
}

@keyframes opacity {
  to {
    opacity: 1;
    //transform: translateY(0);
  }
}

// background animation for login form
.login-form__background {
  max-width: 50rem;
  margin: 0 auto;
  background-color: #8ec5fc;
  background: linear-gradient(#2121213a, #2121213a) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: -0.25rem;
  border: 2px solid transparent;
  //padding: .25rem;
  border-radius: 0.5rem;
  background-size: 400% 100%;
  animation: gradient 7s linear infinite;

  h2 {
    color: $secondary-color;
  }
}

@keyframes gradient {
  0% {
    background-position-x: 0%;
    background-position-y: 0%;
  }

  50% {
    background-position-x: 100%;
    background-position-y: 0%;
  }

  100% {
    background-position-x: 0%;
    background-position-y: 0%;
  }
}

//css loader from web used in registration/login
.loader {
  margin: 0 auto;
  width: 3rem;
  padding: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

// styles for managing users, this is only for devs purpose
//It will be remove
.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  //width: fit-content;
  margin: 1rem;
  background-color: $main-color;
}

.users-list__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #43848d;
  position: relative;

  li {
    color: white;
    word-wrap: break-word;
    //background-color: #5b96bda9;
  }

  img {
    position: absolute;
    width: 1.5rem;
    bottom: 0;
    right: 0;
    filter: brightness(8);
  }
}

// message in about section, it will be displayed if user does not logged in
.message__alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 3rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.85);
  background-color: rgba($main-color, 0.85);
  //background-color: rgba(219, 3, 3, 0.808);
  box-shadow: 0 0 12px $addons-color;
  h2 {
    font-size: clamp(2rem, 3.5vw, 3rem);
    color: $secondary-color;
  }
  button {
    display: flex;
    color: $secondary-color;
    position: relative;
    font-size: clamp(1.25rem, 1vw, 1.5rem);
    font-weight: bold;
    width: fit-content;
    height: 100%;
    align-items: center;
    border: 2px solid $secondary-color;
    border-radius: 0.35rem;
    box-shadow: 0px 2px 8px $addons-color;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: 0.5s;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 0px transparent;
    }
  }
}

// massage for wrong login/register
.error__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 4rem;
    margin-top: 2rem;
  }
  p {
    color: $secondary-color;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

// label for better UI near the magnifier
.temporary__box {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  right: -95%;
  top: -60vh;
  width: 15rem;
  height: 10rem;
  z-index: 0;
  &.active {
    display: grid;
  }
  img {
    position: relative;
    height: 7rem;
    width: 7rem;
  }
  .label__circle {
    grid-area: 1 / 2;
    top: -1rem;
    right: -0.6rem;
  }
  .label__arrow {
    grid-area: 1/1;
    transform: rotate(15deg);
    top: 2.5rem;
    right: -1.25rem;
  }
  .label__close {
    grid-area: 3/2;
    width: 1.25rem;
    height: 1.25rem;
    top: 1.35rem;
    right: 0.75rem;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
  p {
    position: absolute;
    font-style: italic;
    grid-area: 3 / span 2;
    right: 2.5rem;
    width: 12rem;
  }
}

.wrapper-home {
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;
  gap: 1rem;
  align-items: flex-start;
  @media (width < 100rem) {
    display: flex;
  }
}

.container-home {
  grid-column: 2;
  grid-row: 1;
  max-height: 100vh;
  overflow-y: scroll;
  @include scroll-primary;
  @media (width < 100rem) {
    width: 80vw;
    grid-column: 1;
  }
}
