* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(50, 50, 50);
}
* body {
  width: 100vw;
  overflow-x: hidden;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}

.container-home {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.container-home h2 {
  font-size: 2rem;
}
.container-home section {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.container-home p {
  font-size: 1.25rem;
}

.container-menu {
  display: flex;
  position: relative;
  background-color: #0a3a40;
  box-shadow: 0 0 5px black;
  justify-content: center;
  height: 4rem;
}
.container-menu a {
  font-size: 1.15rem;
  font-weight: bold;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.container-menu a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: 0.5s ease;
}
.container-menu a:hover::after {
  width: 100%;
}
.container-menu a.active span {
  color: rgba(255, 255, 255, 0.6);
}
.container-menu a.active::after {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}
.container-menu a span {
  color: white;
}
@media (max-width: 40rem) {
  .container-menu a span {
    visibility: hidden;
    height: 0.5rem;
  }
}
.container-menu .navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 80rem;
}
.container-menu .menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 2vw;
}
@media (max-width: 40rem) {
  .container-menu .menu {
    display: none;
    position: absolute;
    height: -moz-fit-content;
    height: fit-content;
    top: 4rem;
    padding: 0.5rem;
    margin-right: 0.75rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #0a3a40;
    flex-direction: column;
    transition: 0.5s;
    opacity: 0;
    z-index: 5;
  }
  .container-menu .menu.active {
    display: flex;
  }
  .container-menu .menu .menu__item {
    z-index: 2;
  }
  .container-menu .menu.active {
    opacity: 1;
  }
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__item img {
  position: relative;
  bottom: -0.25rem;
  width: 1.5rem;
}
.menu__item.active img {
  filter: brightness(0.8);
}
.menu__item.logout img {
  filter: brightness(1);
}
.menu__item.logout.active span {
  color: white;
}
.menu__item.logout::after {
  height: 0;
}

@media (max-width: 40rem) {
  .menu-hamburger {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    top: 1.5rem;
    flex-direction: column;
    height: 1.75rem;
    width: 2rem;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin-right: 6.5vw;
  }
  .menu-hamburger span {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 0.35rem;
    transition: 0.5s;
    border-radius: 0.5rem;
  }
  .menu-hamburger span.active {
    box-shadow: inset 0 0 5px black;
  }
  .menu-hamburger:hover span {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.container-about {
  display: grid;
  background-color: #0a3a40;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  box-shadow: 0 0 8px black;
}
@media (max-width: 65rem) {
  .container-about {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 40rem) {
  .container-about {
    grid-template-columns: 1fr;
  }
}
.container-about article {
  grid-row: span 3;
  display: grid;
  grid-template-rows: subgrid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.container-about article.low-level {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}
.container-about article h2,
.container-about article p,
.container-about article button {
  color: white;
  font-weight: bold;
}
.container-about article button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem;
  padding-inline: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  transition: 1s;
}
.container-about article button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.container-level {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  row-gap: 1rem;
}
.container-level main {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}
.container-level section {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}
.container-level article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.container-level hr {
  border: 0.1rem solid #297883;
  opacity: 0.15;
}
.container-level h2 {
  text-transform: uppercase;
}
.container-level h2,
.container-level h3,
.container-level p,
.container-level li {
  font-size: 1.5rem;
}
.container-level h2,
.container-level h3,
.container-level p,
.container-level li {
  color: rgb(60, 60, 60);
}
.container-level p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
.container-level ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}
.container-level li {
  display: flex;
  flex-direction: column;
}
.container-level li div {
  display: flex;
  align-items: center;
}
.container-level img {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  top: 0.17rem;
}
.container-level .video__section iframe {
  width: 840px;
  height: 473px;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem black;
}
@media (max-width: 65rem) {
  .container-level .video__section iframe {
    width: 560px;
    height: 315px;
  }
}
.container-level .tip__section {
  background-color: rgba(45, 221, 183, 0.2);
}
.container-level .article__card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
}
.container-level .article__card h2 {
  position: absolute;
  z-index: 1;
  font-size: 3rem;
  color: white;
  transition: 0.5s;
}
.container-level .article__card img {
  width: 90%;
  max-width: 50rem;
  height: 90%;
  border-radius: 1rem;
  filter: brightness(0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
.container-level .article__card:hover h2 {
  opacity: 0;
  transform: translateY(-20rem);
}
.container-level .article__card:hover img {
  filter: brightness(1);
  transform: scale(1.05);
  box-shadow: 0px 0px 0px transparent;
}
.container-level .article__card p {
  display: flex;
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  padding: 1rem;
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.568);
  transform: translateY(20rem);
  transition: 0.5s;
  z-index: 2;
}
.container-level .article__card:hover p {
  opacity: 1;
  transform: translateY(0);
}
.container-level .article__card .fancy-border {
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
}

.container-login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(10, 58, 64, 0.85);
  height: 15rem;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 0.5rem;
}
@media (max-width: 40rem) {
  .container-login {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.login__info {
  display: flex;
  flex-direction: column;
}
.login__info div {
  display: flex;
  gap: 0.5rem;
}
.login__info span {
  font-size: 1.25rem;
  color: white;
  margin-inline: 0.5rem;
}
.login__info button {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.35rem 0.25rem 0.35rem 0.25rem;
  position: relative;
  z-index: 1;
}
.login__info button.active {
  transition: 0.5s;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.login__info p {
  color: white;
  font-size: 1.25rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 18rem;
  margin: 0 auto;
  opacity: 0;
  animation: opacity 0.85s ease-in forwards;
  padding-inline: 0.5rem;
}
.login-form input {
  background-color: transparent;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  color: white;
  transition: 0.5s;
}
.login-form input::-moz-placeholder {
  -moz-transition: 0.25s;
  transition: 0.25s;
  color: white;
}
.login-form input::placeholder {
  transition: 0.25s;
  color: white;
}
.login-form input:focus {
  outline: none;
}
.login-form input:focus::-moz-placeholder {
  opacity: 0;
}
.login-form input:focus::placeholder {
  opacity: 0;
}
.login-form input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.5s;
}
.login-form input[type=submit]:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}
@media (max-width: 40rem) {
  .login-form {
    margin: 1rem 0 0 0;
  }
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}
.login-form__background {
  max-width: 50rem;
  margin: 0 auto;
  background-color: #8ec5fc;
  background: linear-gradient(rgba(33, 33, 33, 0.2274509804), rgba(33, 33, 33, 0.2274509804)) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: -0.25rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  background-size: 400% 100%;
  animation: gradient 7s linear infinite;
}
.login-form__background h2 {
  color: white;
}

@keyframes gradient {
  0% {
    background-position-x: 0%;
    background-position-y: 0%;
  }
  50% {
    background-position-x: 100%;
    background-position-y: 0%;
  }
  100% {
    background-position-x: 0%;
    background-position-y: 0%;
  }
}
.loader {
  margin: 0 auto;
  width: 3rem;
  padding: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  margin: 1rem;
  background-color: #0a3a40;
}

.users-list__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #43848d;
  position: relative;
}
.users-list__item li {
  color: white;
  word-wrap: break-word;
}
.users-list__item img {
  position: absolute;
  width: 1.5rem;
  bottom: 0;
  right: 0;
  filter: brightness(8);
}

.message__alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 3rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.85);
  background-color: rgba(10, 58, 64, 0.85);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}
.message__alert h2 {
  font-size: clamp(2rem, 3.5vw, 3rem);
  color: white;
}
.message__alert button {
  display: flex;
  color: white;
  position: relative;
  font-size: clamp(1.25rem, 1vw, 1.5rem);
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  align-items: center;
  border: 2px solid white;
  border-radius: 0.35rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  text-transform: uppercase;
  transition: 0.5s;
}
.message__alert button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px transparent;
}

.error__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error__box img {
  width: 4rem;
  margin-top: 2rem;
}
.error__box p {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.temporary__box {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  right: -95%;
  top: -60vh;
  width: 15rem;
  height: 10rem;
  z-index: 0;
}
.temporary__box.active {
  display: grid;
}
.temporary__box img {
  position: relative;
  height: 7rem;
  width: 7rem;
}
.temporary__box .label__circle {
  grid-area: 1/2;
  top: -1rem;
  right: -0.6rem;
}
.temporary__box .label__arrow {
  grid-area: 1/1;
  transform: rotate(15deg);
  top: 2.5rem;
  right: -1.25rem;
}
.temporary__box .label__close {
  grid-area: 3/2;
  width: 1.25rem;
  height: 1.25rem;
  top: 1.35rem;
  right: 0.75rem;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}
.temporary__box .label__close:hover {
  transform: scale(1.2);
}
.temporary__box p {
  position: absolute;
  font-style: italic;
  grid-area: 3/span 2;
  right: 2.5rem;
  width: 12rem;
}/*# sourceMappingURL=index.css.map */