* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(30, 30, 30);
}
* body {
  width: 100vw;
  overflow-x: hidden;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}

.container-welcome {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #79BED9;
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
  height: calc(100dvh - 4rem);
  opacity: 0;
  animation: blur 0.5s linear forwards;
  overflow-x: hidden;
}
@media (min-width: 85rem) {
  .container-welcome {
    box-shadow: inset 0 0 15px rgb(68, 68, 68);
  }
}

.container-welcome.first {
  display: flex;
  flex-direction: column;
  padding: 10%;
  gap: 1rem;
}
.container-welcome.first p {
  font-size: 1.25rem;
  font-weight: bold;
}
.container-welcome.first button {
  font-size: 1.25rem;
  font-weight: bold;
}

@keyframes look-around {
  0% {
    left: 0vw;
    transform: rotateY(0deg);
    opacity: 1;
  }
  35% {
    left: 0vw;
    transform: rotateY(-50deg) rotateX(-5deg);
    opacity: 1;
  }
  75% {
    left: 0vw;
    transform: rotateY(50deg) rotateX(-5deg);
    opacity: 1;
  }
  100% {
    left: 0vw;
    transform: rotateY(0deg);
    opacity: 1;
  }
}
.box-welcome {
  grid-row: 4;
  grid-column: span 4;
  width: 100%;
  display: flex;
  position: relative;
  background-size: auto;
  background-repeat: repeat;
}

.box-welcome__lawn {
  display: flex;
  width: 100%;
  height: 3rem;
  position: relative;
  top: -3rem;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
}

.box-emoji {
  display: flex;
  position: relative;
  grid-row: 3;
}
.box-emoji:has(.main) {
  left: 45vw;
  transform: translateX(-10vw);
}
.box-emoji:has(.guide) {
  left: 0vw;
}
.box-emoji img {
  width: 4rem;
  height: 4rem;
}
.box-emoji .emoji-character {
  top: 70%;
}
.box-emoji .main {
  opacity: 0;
  bottom: 0;
  animation: coming 1.5s linear 0.75s, forwards look-around 2s linear 2.25s;
}
.box-emoji .guide {
  opacity: 0;
}
.box-emoji .guide.active {
  opacity: 1;
  animation: bounce-in-fwd 2s both;
}

.emoji__message {
  display: flex;
  width: 12.5rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  position: relative;
  top: -2.5rem;
}
.emoji__message::before {
  content: "";
  position: absolute;
  width: 12.5rem;
  height: 12.5rem;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 85%, 25% 100%, 35% 85%, 0 85%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 85%, 25% 100%, 35% 85%, 0 85%);
  z-index: -1;
  animation: blur 1s linear forwards;
}

.next {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -7rem;
  right: 5%;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  filter: brightness(0.75);
}
.next:hover {
  transform: scale(1.2);
}

@keyframes coming {
  0% {
    left: -45vw;
    opacity: 1;
  }
  100% {
    left: 0;
    transform: rotate(2turn);
    opacity: 1;
  }
}
@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}/*# sourceMappingURL=IntroStyles.css.map */