@import './addons/variables', './addons/mixins';

@include main-setting;

// Intorduction container where the individual scenes take place
.container-welcome{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: $background-secondary;
    width: 100%;
    max-width: 85rem;
    margin: 0 auto;
    height: calc(100dvh - 4rem);
    opacity: 0;
    animation: blur .5s linear forwards;
    overflow-x: hidden;
    @media (min-width: 85rem) {
        box-shadow: inset 0 0 15px rgb(68, 68, 68);
    }
}

// first introduction scene
.container-welcome.first{
    display: flex;
    flex-direction: column;
    //justify-content: center;
    padding: 10%;
    gap: 1rem;
    p{
        color: $primary-color;
        font-size: 1.25rem;
        font-weight: bold;
    }
    button{
        font-size: 1.25rem;
        font-weight: bold;
        width: fit-content;
        transition: .5s;
        &:hover{
            filter: brightness(6);
        }
    }
}

// animation for emoji(second scene) 
@keyframes look-around{
    0%{
        left:0vw;
        transform: rotateY(0deg);
        opacity: 1;
    }
    35%{
        left:0vw;
        transform:rotateY(-50deg) rotateX(-5deg);
        opacity: 1;
    }
    75% {
        left:0vw;
        transform:rotateY(50deg) rotateX(-5deg);
        opacity: 1;
    }
    100%{
        left:0vw;
        transform: rotateY(0deg);
        opacity: 1;
    }
}

// main design element for second scene, it has image:dirt background
// and contains lawn design + next arrow
.box-welcome{
    grid-row: 4;
    grid-column: span 4;
    width: 100%;
    display: flex;
    position: relative;
    background-size: auto;
    background-repeat: repeat;
}

// lawn at the top of box-welcome
.box-welcome__lawn{
    display: flex;
    width: 100%;
    height: 3rem;
    position: relative;
    top: -3rem;
    background-repeat: repeat-x;
    background-size: contain;
    background-position:center;
}

// there is emoji img with emoji-message component
.box-emoji{
    display: flex;
    position: relative;
    grid-row: 3;
    &:has(.main){
        left: 45vw;
        transform: translateX(-10vw);
    }
    &:has(.guide){
        left:-0vw;
    }
    img{
        width: 4rem;
        height: 4rem;
    }
    .emoji-character{
        top: 70%;
    }
    .main{
        opacity: 0;
        bottom: 0;
        animation: coming 1.5s linear .75s, forwards look-around 2s linear 2.25s;
    }
    .guide{
        opacity: 0;
    }
    .guide.active{
        opacity: 1;
        animation: bounce-in-fwd 2s both;
    }
}

// emoji message component in the form of a converstaion bubble 
.emoji__message{
    display: flex;
    width: 12.5rem;
    height: fit-content;
    padding: .5rem;
    position: relative;
    top: -2.5rem;
    &::before{
        content: '';
        position: absolute;
        width: 12.5rem;
        height: 10.5rem;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: rgba(255,255,255,0.6);
        //clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 85%, 25% 100%, 35% 85%, 0 85%);
        z-index: -1;
        animation: blur 1s linear forwards;
    }
    &.enemy{
        top: -15rem;
        right: -10rem;
        opacity: 0;
        animation: easeMessage 4s linear forwards;
    }
}

@keyframes easeMessage{
    0%{
        opacity: .3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

// arrow image which provides for the continuation of the intro
.next {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -7rem;
    right: 5%;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
    filter: brightness(.75);
    &:hover{
        transform: scale(1.2);
        filter: brightness(1);
    }
}

// animation for the arrival of the main-emoji
@keyframes coming {
    0%{
        left: -45vw;
        opacity: 1;
    }
    100%{
        left:0;
        transform: rotate(2turn);
        opacity: 1;
    }
}

// animation for the arrival of the guide-emoji
@keyframes bounce-in-fwd{
    0%{-webkit-transform:scale(0);transform:scale(0);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}
    38%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}
    55%{-webkit-transform:scale(.7);transform:scale(.7);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}
    72%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}
    81%{-webkit-transform:scale(.84);transform:scale(.84);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}
    89%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}
    95%{-webkit-transform:scale(.95);transform:scale(.95);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}
    100%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}
}