$parallaxSpeedOne: -20;
$parallaxSpeedTwo: -10;
$parallaxSpeedThree: -8;

$primary-color: #0A3A40;

$con: 2;
.parallax{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200vh;
    position: sticky;
    z-index: -1;
    img{
        max-width: 100%;
    }
    .one{
        grid-column: 1/2;
        grid-row: 4;
        animation: parallaxOne linear;
        animation-timeline: scroll();
    }
    .two{
        grid-column: 2/3;
        grid-row: 2;
        animation: parallaxTwo linear;
        animation-timeline: scroll();
    }
    .three{
        grid-column: 3/6;
        grid-row: 3;
        animation: parallaxThree linear;
        animation-timeline: scroll();
    } 
}

@keyframes parallaxOne {
    to {
        transform: translateY($parallaxSpeedOne * 50px) scale(2.2);
    }
}

@keyframes parallaxTwo {
    to {
        transform: translateY($parallaxSpeedTwo * 50px) scale(1.5);
    }
}

@keyframes parallaxThree {
    to {
        transform: translateY($parallaxSpeedThree * 50px) scale(2.75);
    }
}

.roadmap{
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(36, 1fr);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.roadmap__background{
    display: flex;
    width: 90%;
    max-width: 1600px;
    max-height: 900px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    background-size: contain;
    //background-position: center center;
    background-repeat: no-repeat;
}
.roadmap__item{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    //background-color: $primary-color;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    span{
        font-size: 1rem;
        font-weight: bold;
        color: white;
    }
    &::after{
        content: '';
        position: absolute;
        width: 3vw;
        height: 3vw;
        opacity: 1;
        border-radius: 19% 81% 14% 86% / 80% 10% 90% 20%;
        background-color: $primary-color;
        background-color: rgba($primary-color, 0.65);
        filter: blur(0px);
        z-index: -1;
    }
    &:hover::after{
        opacity: 1;
        border-radius: 19% 81% 14% 86% / 80% 10% 90% 20%;
        animation: light 5s linear infinite;
    }
}

@keyframes light {
    0% {
        border-radius: 19% 81% 14% 86% / 80% 10% 90% 20%;
        transform: rotate(0deg) scale(1);
    }
    50%{
        border-radius: 56% 44% 70% 30% / 22% 68% 32% 78%;
        transform: rotate(180deg) scale(1.2);
    }
    100%{
        border-radius: 19% 81% 14% 86% / 80% 10% 90% 20%;
        transform: rotate(360deg) scale(1);
    }
}

.locked{
    img{
        width: 2vw;
        height: 2vw;
    }
}


.one{
    grid-column: 9 * $con;
    grid-row: 3 * $con;
}

.two{
    grid-column: 9 * $con;
    grid-row: 5 * $con;
}

.three{
    grid-column: 7 * $con;
    grid-row: 6 * $con;
}

.four{
    grid-column: 5 * $con;
    grid-row: 8 * $con;
}

.five{
    grid-column: 7 * $con;
    grid-row: 10 * $con;
}

.six{
    grid-column: 9 * $con;
    grid-row: 11 * $con;
}

.seven{
    grid-column: 11 * $con;
    grid-row: 11 * $con;
}

.eight{
    grid-column: 13 * $con;
    grid-row: 11 * $con;
}

.nine{
    grid-column: 15 * $con;
    grid-row: 10 * $con;
}

.ten{
    grid-column: 17 * $con;
    grid-row: 9 * $con;
}

.eleven{
    grid-column: 18 * $con;
    grid-row: 7 * $con;
}

.twelve{
    grid-column: 19 * $con;
    grid-row: 4 * $con;
}

.thirteen{
    grid-column: 19 * $con;
    grid-row: 2 * $con;
}

.fourteen{
    grid-column: 23 * $con;
    grid-row: 2 * $con;
}

.fifteen{
    grid-column: 24 * $con;
    grid-row: 4 * $con;
}

.sixteen{
    grid-column: 24 * $con;
    grid-row: 6 * $con;
}

.seventeen{
    grid-column: 24 * $con;
    grid-row: 8 * $con;
}

.eighteen{
    grid-column: 24 * $con;
    grid-row: 10 * $con;
}

.nineteen{
    grid-column: 26 * $con;
    grid-row: 12 * $con;
}

.twenty{
    grid-column: 26 * $con;
    grid-row: 14 * $con;
}