.parallax {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200vh;
  position: sticky;
  z-index: -1;
}
.parallax img {
  max-width: 100%;
}
.parallax .one {
  grid-column: 1/2;
  grid-row: 4;
  animation: parallaxOne linear;
  animation-timeline: scroll();
}
.parallax .two {
  grid-column: 2/3;
  grid-row: 2;
  animation: parallaxTwo linear;
  animation-timeline: scroll();
}
.parallax .three {
  grid-column: 3/6;
  grid-row: 3;
  animation: parallaxThree linear;
  animation-timeline: scroll();
}

@keyframes parallaxOne {
  to {
    transform: translateY(-1000px) scale(2.2);
  }
}
@keyframes parallaxTwo {
  to {
    transform: translateY(-500px) scale(1.5);
  }
}
@keyframes parallaxThree {
  to {
    transform: translateY(-400px) scale(2.75);
  }
}
.roadmap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  place-items: center;
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  margin-block: 2rem;
  row-gap: 1rem;
}

.roadmap__item {
  display: flex;
  position: relative;
  width: 5rem;
  height: 5rem;
  border: 0 dashed white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.roadmap__item span {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.roadmap__item::after {
  content: "";
  position: absolute;
  width: 5.25rem;
  height: 5.25rem;
  opacity: 1;
  border-radius: 19% 81% 14% 86%/80% 10% 90% 20%;
  background-color: #0A3A40;
  filter: blur(0px);
  z-index: -1;
}
.roadmap__item:hover::after {
  opacity: 1;
  border-radius: 19% 81% 14% 86%/80% 10% 90% 20%;
  animation: light 5s linear infinite;
}

@keyframes light {
  0% {
    border-radius: 19% 81% 14% 86%/80% 10% 90% 20%;
    transform: rotate(0deg) scale(1);
  }
  50% {
    border-radius: 56% 44% 70% 30%/22% 68% 32% 78%;
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    border-radius: 19% 81% 14% 86%/80% 10% 90% 20%;
    transform: rotate(360deg) scale(1);
  }
}
.locked img {
  width: 3rem;
  height: 3rem;
}

.one {
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 6;
  grid-row: 1;
}

.three {
  grid-column: 4;
  grid-row: 2;
}

.four {
  grid-column: 6;
  grid-row: 3;
}

.five {
  grid-column: 8;
  grid-row: 3;
}

.six {
  grid-column: 4;
  grid-row: 4;
}

.seven {
  grid-column: 10;
  grid-row: 4;
}

.eight {
  grid-column: 2;
  grid-row: 5;
}

.nine {
  grid-column: 6;
  grid-row: 5;
}

.ten {
  grid-column: 6;
  grid-row: 6;
}

.eleven {
  grid-column: 10;
  grid-row: 6;
}

.twelve {
  grid-column: 2;
  grid-row: 7;
}

.thirteen {
  grid-column: 5;
  grid-row: 7;
}

.fourteen {
  grid-column: 12;
  grid-row: 7;
}

.fifteen {
  grid-column: 1;
  grid-row: 8;
}

.sixteen {
  grid-column: 4;
  grid-row: 8;
}

.seventeen {
  grid-column: 9;
  grid-row: 8;
}

.eighteen {
  grid-column: 3;
  grid-row: 9;
}

.nineteen {
  grid-column: 5;
  grid-row: 9;
}

.twenty {
  grid-column: 8;
  grid-row: 9;
}/*# sourceMappingURL=roadmapStyles.css.map */