.parallax {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200vh;
  position: sticky;
  z-index: -1;
}
.parallax img {
  max-width: 100%;
}
.parallax .one {
  grid-column: 1/2;
  grid-row: 4;
  animation: parallaxOne linear;
  animation-timeline: scroll();
}
.parallax .two {
  grid-column: 2/3;
  grid-row: 2;
  animation: parallaxTwo linear;
  animation-timeline: scroll();
}
.parallax .three {
  grid-column: 3/6;
  grid-row: 3;
  animation: parallaxThree linear;
  animation-timeline: scroll();
}

@keyframes parallaxOne {
  to {
    transform: translateY(-1000px) scale(2.2);
  }
}
@keyframes parallaxTwo {
  to {
    transform: translateY(-500px) scale(1.5);
  }
}
@keyframes parallaxThree {
  to {
    transform: translateY(-400px) scale(2.75);
  }
}
.roadmap {
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(36, 1fr);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.roadmap__background {
  display: flex;
  width: 90%;
  max-width: 1600px;
  max-height: 900px;
  aspect-ratio: 16/9;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.1;
  animation: blur 0.4s linear forwards;
}

@keyframes blur {
  100% {
    opacity: 1;
  }
}
.roadmap__item {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.roadmap__item span {
  font-size: clamp(0.65rem, 1.65vw, 1.5rem);
  font-weight: bold;
  color: white;
}
.roadmap__item::after {
  content: "";
  position: absolute;
  width: 3vw;
  height: 3vw;
  opacity: 1;
  border-radius: 19% 81% 14% 86%/80% 10% 90% 20%;
  background-color: rgba(10, 58, 64, 0.6);
  filter: blur(0px);
  z-index: -1;
  transition: 0.5s;
}
.roadmap__item:hover::after {
  opacity: 1;
  border-radius: 19% 81% 14% 86%/80% 10% 90% 20%;
  animation: light 1s linear forwards;
  background-color: rgba(10, 58, 64, 0.9);
}
.roadmap__item.active::after {
  background-color: rgba(102, 14, 14, 0.65);
}

@keyframes light {
  0% {
    border-radius: 19% 81% 14% 86%/80% 10% 90% 20%;
    transform: rotate(0deg) scale(1);
  }
  50% {
    border-radius: 56% 44% 70% 30%/22% 68% 32% 78%;
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    border-radius: 19% 81% 14% 86%/80% 10% 90% 20%;
    transform: rotate(90deg) scale(1);
  }
}
.locked img {
  width: 2vw;
  height: 2vw;
  transform: rotate(5deg);
  transition: 0.5s;
}
.locked:hover img {
  transform: rotate(5deg) scale(1.1);
}

.one {
  grid-column: 18/span 2;
  grid-row: 6/span 2;
}

.two {
  grid-column: 14/span 2;
  grid-row: 10/span 2;
}

.three {
  grid-column: 10/span 2;
  grid-row: 14/span 2;
  left: -0.6vw;
}

.four {
  grid-column: 12/span 2;
  grid-row: 18/span 2;
}

.five {
  grid-column: 16/span 2;
  grid-row: 20/span 2;
}

.six {
  grid-column: 20/span 2;
  grid-row: 22/span 2;
  top: -1vw;
}

.seven {
  grid-column: 24/span 2;
  grid-row: 20/span 2;
  top: 1vw;
}

.eight {
  grid-column: 28/span 2;
  grid-row: 20/span 2;
  top: -0.25vw;
}

.nine {
  grid-column: 32/span 2;
  grid-row: 18/span 2;
  left: -0.3vw;
}

.ten {
  grid-column: 34/span 2;
  grid-row: 16/span 2;
  top: -0.5vw;
}

.eleven {
  grid-column: 36/span 2;
  grid-row: 12/span 2;
  left: 0.5vw;
}

.twelve {
  grid-column: 38/span 2;
  grid-row: 8/span 2;
  left: -1.2vw;
}

.thirteen {
  grid-column: 36/span 2;
  grid-row: 4/span 2;
  left: 1vw;
}

.fourteen {
  grid-column: 42/span 2;
  grid-row: 2/span 2;
}

.fifteen {
  grid-column: 46/span 2;
  grid-row: 6/span 2;
}

.sixteen {
  grid-column: 46/span 2;
  grid-row: 10/span 2;
  left: 1.5vw;
}

.seventeen {
  grid-column: 48/span 2;
  grid-row: 14/span 2;
}

.eighteen {
  grid-column: 48/span 2;
  grid-row: 18/span 2;
  left: -0.5vw;
}

.nineteen {
  grid-column: 51/span 2;
  grid-row: 22/span 2;
}

.twenty {
  grid-column: 52/span 2;
  grid-row: 26/span 2;
}

.jello-horizontal {
  animation: jello-horizontal 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-10 15:45:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}/*# sourceMappingURL=roadmapStyles.css.map */