.parallax {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200vh;
  position: sticky;
  z-index: -1;
}
.parallax img {
  max-width: 100%;
}
.parallax .one {
  grid-column: 1/2;
  grid-row: 4;
  animation: parallaxOne linear;
  animation-timeline: scroll();
}
.parallax .two {
  grid-column: 2/3;
  grid-row: 2;
  animation: parallaxTwo linear;
  animation-timeline: scroll();
}
.parallax .three {
  grid-column: 3/6;
  grid-row: 3;
  animation: parallaxThree linear;
  animation-timeline: scroll();
}

@keyframes parallaxOne {
  to {
    transform: translateY(-1000px) scale(2.2);
  }
}
@keyframes parallaxTwo {
  to {
    transform: translateY(-500px) scale(1.5);
  }
}
@keyframes parallaxThree {
  to {
    transform: translateY(-400px) scale(2.75);
  }
}
.roadmap {
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(36, 1fr);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.roadmap__background {
  display: flex;
  width: 90%;
  max-width: 1600px;
  max-height: 900px;
  aspect-ratio: 16/9;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.roadmap__item {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.roadmap__item span {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.roadmap__item::after {
  content: "";
  position: absolute;
  width: 3vw;
  height: 3vw;
  opacity: 1;
  border-radius: 19% 81% 14% 86%/80% 10% 90% 20%;
  background-color: #0A3A40;
  background-color: rgba(10, 58, 64, 0.65);
  filter: blur(0px);
  z-index: -1;
}
.roadmap__item:hover::after {
  opacity: 1;
  border-radius: 19% 81% 14% 86%/80% 10% 90% 20%;
  animation: light 5s linear infinite;
}

@keyframes light {
  0% {
    border-radius: 19% 81% 14% 86%/80% 10% 90% 20%;
    transform: rotate(0deg) scale(1);
  }
  50% {
    border-radius: 56% 44% 70% 30%/22% 68% 32% 78%;
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    border-radius: 19% 81% 14% 86%/80% 10% 90% 20%;
    transform: rotate(360deg) scale(1);
  }
}
.locked img {
  width: 2vw;
  height: 2vw;
}

.one {
  grid-column: 18;
  grid-row: 6;
}

.two {
  grid-column: 18;
  grid-row: 10;
}

.three {
  grid-column: 14;
  grid-row: 12;
}

.four {
  grid-column: 10;
  grid-row: 16;
}

.five {
  grid-column: 14;
  grid-row: 20;
}

.six {
  grid-column: 18;
  grid-row: 22;
}

.seven {
  grid-column: 22;
  grid-row: 22;
}

.eight {
  grid-column: 26;
  grid-row: 22;
}

.nine {
  grid-column: 30;
  grid-row: 20;
}

.ten {
  grid-column: 34;
  grid-row: 18;
}

.eleven {
  grid-column: 36;
  grid-row: 14;
}

.twelve {
  grid-column: 38;
  grid-row: 8;
}

.thirteen {
  grid-column: 38;
  grid-row: 4;
}

.fourteen {
  grid-column: 46;
  grid-row: 4;
}

.fifteen {
  grid-column: 48;
  grid-row: 8;
}

.sixteen {
  grid-column: 48;
  grid-row: 12;
}

.seventeen {
  grid-column: 48;
  grid-row: 16;
}

.eighteen {
  grid-column: 48;
  grid-row: 20;
}

.nineteen {
  grid-column: 52;
  grid-row: 24;
}

.twenty {
  grid-column: 52;
  grid-row: 28;
}/*# sourceMappingURL=roadmapStyles.css.map */