.reset-password-container {
  display: grid;
  position: relative;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: fit-content;
  padding: 2rem;
  background: var(--foreground-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --text-color: #333;
  --error-color: #ff0000;
  --success-color: rgb(24, 161, 179);
  .loading {
    font-size: 2rem;
  }
}

.reset-password-container h2 {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.reset-password-form {
  display: grid;
  width: 20rem;
}

.form-group {
  display: grid;
}

.form-group label {
  color: var(--text-color);
  font-weight: 500;
}

.form-group input {
  padding: 0.75rem;
  border: 1px solid rgb(228, 228, 236);
  border-radius: 4px;
}

.error-message-reset-password {
  color: var(--error-color);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.success-message-reset-password h2 {
  color: var(--success-color);
  margin-bottom: 1rem;
}

.success-message-reset-password p {
  color: var(--text-color);
}
