* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(50, 50, 50);
}
* body {
  width: 100vw;
  overflow-x: hidden;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}

.building {
  grid-column: 2;
  width: 100%;
  height: calc(100dvh - 4rem);
  background-color: #79bed9;
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
}

.building-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40vh;
  z-index: 1;
}
.building-area .end {
  grid-column: 3;
}
.building-area .box-wave {
  grid-column: 2;
  width: 50%;
}
.building-area .container-bridge {
  grid-column: 2;
  width: 50%;
  position: absolute;
}

.building-form {
  display: grid;
  gap: 1rem;
  max-width: 50%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.65);
  max-height: 27rem;
  overflow-y: auto;
  border-radius: 0 0 0.8rem 0;
  overflow-y: scroll;
}
.building-form::-webkit-scrollbar {
  width: 0.5rem;
}
.building-form::-webkit-scrollbar-thumb {
  background-color: rgba(121, 190, 217, 0.5);
}
.building-form::-webkit-scrollbar-thumb:hover {
  background-color: #79bed9;
}
.building-form input {
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-bottom: 2px dashed white;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
}
.building-form input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.15rem 0.15rem 0 0;
}
.building-form input[type=text] {
  color: white;
  width: 50%;
  padding: 0.15rem;
}
.building-form .button-resolver {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  gap: 0.15rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.15rem;
  transition: 0.35s;
}
.building-form .button-resolver img {
  padding: 0.15rem;
}
.building-form .button-resolver input[type=submit] {
  background-color: transparent;
}
.building-form .button-resolver input[type=submit]:hover {
  background-color: transparent;
}
.building-form .button-resolver:hover {
  background-color: rgb(40, 40, 40);
}
.building-form input[type=submit] {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0.35rem;
  padding-inline: 1.5rem;
  transition: 0.35s;
  border-radius: 0.15rem;
}
.building-form input[type=submit]:hover {
  background-color: rgb(40, 40, 40);
}
.building-form label {
  color: white;
  font-weight: bold;
}
.building-form img {
  width: 2rem;
  margin: 0 auto;
}

.building-form-box {
  display: grid;
  position: relative;
  gap: 1rem;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

.building-button {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.35rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  gap: 0.5rem;
  padding-inline: 1rem;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.building-button span {
  color: white;
  font-weight: bold;
}

.select-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
}
.select-wrapper select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  position: relative;
  background-color: transparent;
  font-weight: bold;
  outline: none;
  border: none;
  transition: 1s;
  cursor: pointer;
  color: white;
  width: 100%;
  padding: 0.25rem;
  z-index: 1;
}
.select-wrapper option {
  cursor: pointer;
  background-color: rgba(10, 58, 64, 0.8);
  white-space: normal;
  transition: 1s;
  font-weight: bold;
  color: white;
}

img.select-icon {
  position: absolute;
  place-self: center end;
  right: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.group-inputs {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.25rem;
}
.group-inputs input[type=text] {
  color: white;
  background-color: transparent;
}
.group-inputs input[type=text]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}
.group-inputs input[type=text]:autofill {
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

.form-section div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-section img {
  width: 0.75rem;
  cursor: pointer;
  transition: 0.3s;
}
.form-section img.deactivated {
  opacity: 0.3;
}
.form-section img:hover {
  transform: scale(1.1);
  filter: brightness(0.2);
}

.form-buttons-group {
  display: flex;
  gap: 0.5rem;
}

.form-restrictions {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-restrictions .label-section {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}
.form-restrictions img {
  width: 0.75rem;
  cursor: pointer;
  transition: 0.3s;
}
.form-restrictions img:hover {
  transform: scale(1.1);
  filter: brightness(0.2);
}

.building-warning-label {
  color: rgb(255, 73, 73);
  font-weight: bold;
  white-space: nowrap;
  margin: 0 auto;
}

.GroupOfRestrictions {
  display: flex;
  width: 100%;
}

.form-section-select {
  display: flex;
  flex-direction: column;
}

.form-section-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.form-section-checkbox input[type=checkbox] {
  cursor: pointer;
}

textarea {
  min-height: 10rem;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  transition: 1s;
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  border: none;
  border-radius: 0.35rem;
}
textarea::-moz-placeholder {
  color: white;
}
textarea::placeholder {
  color: white;
}

.radio-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.radio-box {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0.5rem;
}
.radio-box label {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.25rem;
  cursor: pointer;
}
.radio-box label:first-child {
  border-radius: 0.15rem 0 0 0.15rem;
}
.radio-box label:last-child {
  border-radius: 0 0.15rem 0.15rem 0;
}
.radio-box label.active {
  background-color: rgba(0, 0, 0, 0.3);
}
.radio-box input[type=radio] {
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.error-building {
  grid-row: 2;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  position: absolute;
  justify-content: center;
  background-color: rgb(40, 40, 40);
  border-radius: 0.5rem;
  padding: 0.5rem;
  bottom: -2.5rem;
}
.error-building p {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.wrapper-resolver-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 0;
  left: 55%;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  max-width: 40%;
  max-height: 50%;
  margin-top: 1rem;
  gap: 1rem;
  overflow-y: auto;
  overflow-y: scroll;
}
.wrapper-resolver-form::-webkit-scrollbar {
  width: 0.5rem;
}
.wrapper-resolver-form::-webkit-scrollbar-thumb {
  background-color: rgba(121, 190, 217, 0.5);
}
.wrapper-resolver-form::-webkit-scrollbar-thumb:hover {
  background-color: #79bed9;
}
@media (max-width: 65rem) {
  .wrapper-resolver-form {
    grid-template-columns: 1fr;
  }
}

.building-resolver-form {
  display: grid;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.building-resolver-form .resolver-inputs {
  display: flex;
  gap: 1rem;
  padding-inline: 1rem;
  height: 1rem;
}
.building-resolver-form .resolver-box {
  display: flex;
  align-items: center;
}
.building-resolver-form .resolver-box img {
  filter: brightness(0);
}
.building-resolver-form input[type=text] {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: bold;
  border-bottom: 2px dotted black;
}
.building-resolver-form input[type=submit] {
  border: none;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: -moz-fit-content;
  width: fit-content;
  padding-inline: 1rem;
  cursor: pointer;
}
.building-resolver-form img {
  width: 1.5rem;
}

.correct-level {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
}/*# sourceMappingURL=building-styles.css.map */