@import "../../assets/styles/addons/variables",
  "../../assets/styles/addons/mixins";

@include main-setting;

.Building {
  grid-column: 2;
  width: 100%;
  height: calc(100dvh - 4rem);
  background-color: $background-secondary;
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
}

.BuildingArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40vh;
  z-index: 1;
  .end {
    grid-column: 3;
  }
  .box-wave {
    grid-column: 2;
    width: 50%;
  }
  .container-bridge {
    grid-column: 2;
    width: 50%;
    position: absolute;
  }
}

.BuildingForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
  padding: 2rem;
  background-color: rgba(black, 0.65);
  max-height: 20rem;
  overflow-y: scroll;
  border-radius: 0 0 0.8rem 0;
  @include scroll-primary;
  input {
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 2px dashed white;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    &:focus {
      outline: none;
      background-color: rgba(white, 0.1);
      border-radius: 0.15rem 0.15rem 0 0;
    }
  }
  input[type="text"] {
    color: white;
    width: 50%;
    padding: 0.15rem;
  }
  input[type="submit"] {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    width: fit-content;
    padding: 0.35rem;
    padding-inline: 1.5rem;
    margin: 0 auto;
    transition: 0.35s;
    border-radius: 0.15rem;
    &:hover {
      background-color: rgb(40, 40, 40);
    }
  }
  label {
    color: white;
    font-weight: bold;
  }
  select {
    background-color: rgba(white, 0.2);
    font-weight: bold;
    outline: none;
    border: none;
    transition: 1s;
    cursor: pointer;
    color: white;
  }
  option {
    cursor: pointer;
    background-color: rgba($main-color, 0.8);
    white-space: normal;
    transition: 1s;
    font-weight: bold;
    color: white;
  }
}

.GroupOfInputs {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.25rem;
}

.FormSection {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    width: 0.75rem;
    cursor: pointer;
    transition: 0.3s;
    &.deactivated {
      opacity: 0.3;
    }
    &:hover {
      transform: scale(1.1);
      filter: brightness(0.2);
    }
  }
}

.FormButtonsGroup {
  display: flex;
  gap: 0.5rem;
}

.FormRestrictions {
  display: flex;
  flex-direction: column;
  width: 100%;
  .LabelSection {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
  }
  img {
    width: 0.75rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
      filter: brightness(0.2);
    }
  }
}

.BuildingWarningLabel {
  color: rgb(255, 154, 154);
  font-weight: bold;
}

.GroupOfRestrictions {
  display: flex;
  width: 100%;
}

.FormSectionSelect {
  display: flex;
  flex-direction: column;
}

.FormSectionCheckbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  input[type="checkbox"] {
    cursor: pointer;
  }
}

textarea {
  min-height: 10rem;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  transition: 1s;
  color: white;
  font-weight: bold;
  background-color: rgba(white, 0.2);
  outline: none;
  border: none;
  border-radius: 0.35rem;
  &::placeholder {
    color: white;
  }
}

.radio-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.radio-box {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0.5rem;

  label {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem;
    cursor: pointer;
    &:first-child {
      border-radius: 0.15rem 0 0 0.15rem;
    }
    &:last-child {
      border-radius: 0 0.15rem 0.15rem 0;
    }
  }
  label.active {
    background-color: rgba(black, 0.3);
  }
  input[type="radio"] {
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}

.error-building {
  display: flex;
  justify-content: center;
  background-color: rgb(40, 40, 40);
  border-radius: 0.5rem;
  padding: 0.5rem;
  p {
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
}

.wrapper-custom-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 0;
  left: 55%;
  width: fit-content;
  height: fit-content;
  gap: 1rem;
  @include medium-screen {
    grid-template-columns: 1fr;
  }
}

.foorm {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  flex-direction: column;
  div {
    display: flex;
    gap: 1rem;
  }
  input[type="text"] {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px dashed black;
  }
  input[type="submit"] {
    border: none;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: fit-content;
    padding-inline: 1rem;
    cursor: pointer;
  }
}
