@import "../../assets/styles/addons/variables",
  "../../assets/styles/addons/mixins";

@include main-setting;

.building {
  grid-column: 2;
  width: 100%;
  height: calc(100dvh - 4rem);
  background-color: $background-secondary;
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
}

.building-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40vh;
  z-index: 1;
  .end {
    grid-column: 3;
  }
  .box-wave {
    grid-column: 2;
    width: 50%;
  }
  .container-bridge {
    grid-column: 2;
    width: 50%;
    position: absolute;
  }
}

.building-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
  padding: 2rem;
  background-color: rgba(black, 0.65);
  max-height: 20rem;
  overflow-y: scroll;
  border-radius: 0 0 0.8rem 0;
  @include scroll-primary;
  input {
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 2px dashed white;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    &:focus {
      outline: none;
      background-color: rgba(white, 0.1);
      border-radius: 0.15rem 0.15rem 0 0;
    }
  }
  input[type="text"] {
    color: white;
    width: 50%;
    padding: 0.15rem;
  }
  .button-resolver {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    gap: 0.15rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.15rem;
    transition: 0.35s;
    img {
      padding: 0.15rem;
    }
    input[type="submit"] {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
    &:hover {
      background-color: rgb(40, 40, 40);
    }
  }
  input[type="submit"] {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    width: fit-content;
    margin: 0 auto;
    padding: 0.35rem;
    padding-inline: 1.5rem;
    transition: 0.35s;
    border-radius: 0.15rem;
    &:hover {
      background-color: rgb(40, 40, 40);
    }
  }
  label {
    color: white;
    font-weight: bold;
  }
  img {
    width: 2rem;
    margin: 0 auto;
  }
}
.select-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: fit-content;
  position: relative;
  background-color: rgba(white, 0.2);
  //background-color: lighten($main-color, 10);
  //padding: 0.25rem;
  select {
    //-webkit-appearance: none;
    //-moz-appearance: none;
    appearance: none;
    display: flex;
    position: relative;
    background-color: transparent;
    font-weight: bold;
    outline: none;
    border: none;
    transition: 1s;
    cursor: pointer;
    color: white;
    width: 100%;
    padding: 0.25rem;
    z-index: 1;
  }
  option {
    cursor: pointer;
    background-color: rgba($main-color, 0.8);
    white-space: normal;
    transition: 1s;
    font-weight: bold;
    color: white;
  }
}

img.select-icon {
  position: absolute;
  place-self: center end;
  right: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.group-inputs {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.25rem;
  input[type="text"] {
    color: white;
    background-color: transparent;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: white !important;
    }

    &:autofill {
      box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: white !important;
    }
  }
}

.form-section {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    width: 0.75rem;
    cursor: pointer;
    transition: 0.3s;
    &.deactivated {
      opacity: 0.3;
    }
    &:hover {
      transform: scale(1.1);
      filter: brightness(0.2);
    }
  }
}

.form-buttons-group {
  display: flex;
  gap: 0.5rem;
}

.form-restrictions {
  display: flex;
  flex-direction: column;
  width: 100%;
  .label-section {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
  }
  img {
    width: 0.75rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
      filter: brightness(0.2);
    }
  }
}

.building-warning-label {
  color: rgb(255, 50, 50);
  font-weight: bold;
}

.GroupOfRestrictions {
  display: flex;
  width: 100%;
}

.form-section-select {
  display: flex;
  flex-direction: column;
}

.form-section-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  input[type="checkbox"] {
    cursor: pointer;
  }
}

textarea {
  min-height: 10rem;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  transition: 1s;
  color: white;
  font-weight: bold;
  background-color: rgba(white, 0.2);
  outline: none;
  border: none;
  border-radius: 0.35rem;
  &::placeholder {
    color: white;
  }
}

.radio-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.radio-box {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0.5rem;

  label {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem;
    cursor: pointer;
    &:first-child {
      border-radius: 0.15rem 0 0 0.15rem;
    }
    &:last-child {
      border-radius: 0 0.15rem 0.15rem 0;
    }
  }
  label.active {
    background-color: rgba(black, 0.3);
  }
  input[type="radio"] {
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}

.error-building {
  display: flex;
  justify-content: center;
  background-color: rgb(40, 40, 40);
  border-radius: 0.5rem;
  padding: 0.5rem;
  p {
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
}

.wrapper-resolver-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 0;
  left: 55%;
  //background-color: rgba(white, 0.1);
  width: fit-content;
  height: auto;
  max-width: 40%;
  max-height: 50%;
  margin-top: 1rem;
  gap: 1rem;
  overflow-y: scroll;
  @include scroll-primary;
  @include medium-screen {
    grid-template-columns: 1fr;
  }
}

.building-resolver-form {
  display: grid;
  gap: 0.5rem;
  width: fit-content;
  .resolver-inputs {
    display: flex;
    gap: 1rem;
    padding-inline: 1rem;
    height: 1rem;
  }
  .resolver-box {
    display: flex;
    align-items: center;
    img {
      filter: brightness(0);
    }
  }
  input[type="text"] {
    width: 50%;
    height: fit-content;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: bold;
    border-bottom: 2px dotted black;
  }
  input[type="submit"] {
    border: none;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: fit-content;
    padding-inline: 1rem;
    cursor: pointer;
  }
  img {
    width: 1.5rem;
  }
}

.correct-level {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
}
