// imports and global settings
@import './addons/variables', './addons/mixins';
@include main-setting;

// homepage styles
.container-home{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    h2{
        font-size: 2rem;
    }
    section{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    p{
        font-size: 1.25rem;
        //text-wrap: balance;
    }
}

// main navigation and menu
.container-menu{
    display: flex;
    position: relative;
    background-color: #0A3A40;
    box-shadow:0 0 5px black;
    justify-content: center;
    height: 4rem;

    a{
        color: $secondary-color;
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        z-index: 2;
        overflow: hidden;
        &::after{
            content: "";
            position: absolute;
            height: 2px;
            width: 0;
            bottom: 0;
            left: 0;
            background-color: white;
            transition: .5s ease;
        }
        &:hover::after{
            width: 100%;
        }
    }

    .navigation{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 85rem;  
    }
    //styles for main menu
    .menu{
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-right: 2vw;

        @include small-screen{
            //responsive styles for small screen(40rem)
            position: absolute;
            height: fit-content;
            top: 4rem;
            padding: 1rem;
            margin-right: 0;
            border-radius: 0 0 .5rem .5rem;
            background-color: #0A3A40;
            flex-direction: column;
            transition: .5s;
            opacity: 0;
            z-index: 5;
            .menu__item{
                z-index: 2;
            }
            &.active{
                opacity: 1;
            }
        }
    }
}

//hamburger menu for small screen (40rem)
@include small-screen{
    .menu-hamburger{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        position: absolute;
        top: 1.5rem;
        flex-direction: column;
        height: 1.75rem;
        width: 2rem;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        margin-right: 2vw;

        span{
            display: flex;
            align-items: center;
            background-color: white;
            width: 100%;
            height: .35rem;
            transition: .5s;
            border-radius: .5rem;

            &.active{
                box-shadow: inset 0 0 5px black;
            }
        }

        &:hover span{
            background-color: rgba(white, 0.8);
        }   
    }
}


// styles for about page
.container-about{
    display: grid;
    background-color: #0A3A40;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem;
    box-shadow: 0 0 8px black;
    // styles for medium screen 65rem
    @include medium-screen{
        grid-template-columns: repeat(2, 1fr);
    }
    // styles for small screen 40rem
    @include small-screen{
        grid-template-columns: 1fr;
    }

    article{
        grid-row: span 3;
        display:grid;
        grid-template-rows: subgrid;
        padding: .5rem;
        border-radius: .5rem;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
    
        h2, p, button{
            color: white;
        }
        
        button{
            font-weight: bold;
            justify-content: flex-end;
        }
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container-registration{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #0A3A40;
    width: 50%;
    margin: 0 auto;
}

.registration__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 15rem;
    input[type=text]{
        font-size: 1.25rem;
        font-weight: bold;
        border: none;
        border-bottom: 2px solid black;
        width: 100%;
        &:focus{
            outline: none;
        }
    }
    input[type=submit]{
        width: fit-content;
        background-color: black;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.25rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: .5s;
        &:hover{
            background-color: rgb(255, 255, 255);
            color: black;
            transform: scale(1.1);
        }
    }
}