/* main part of Registration page */
.container-login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(10, 58, 64, 0.85);
  min-height: 15rem;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 0.5rem;
  @media (width < 43rem) {
    grid-template-columns: 1fr;
    height: auto;
  }
  .loader {
    place-self: center;
  }
  --secondary-color: 20, 184, 165;
}

/* part of login-container wich contains some information
 plus user can select between sign up/login there */
.login__info {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  div:has(p) {
    flex-direction: column;
  }

  span {
    font-size: 1.25rem;
    color: white;
    margin-inline: 0.5rem;
    white-space: nowrap;
    @media (width < 43rem) {
      font-size: 1rem;
    }
  }

  button {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    padding-bottom: 0.25rem;
    padding-inline: 1rem;
    position: relative;
    z-index: 1;

    &:focus {
      outline: 1px solid rgb(var(--secondary-color));
    }

    &.active {
      transition: 0.5s;
      border-radius: 0.25rem;

      span::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        border-bottom: 1px solid rgb(var(--secondary-color));
      }
    }
  }

  p {
    color: white;
    font-size: 1rem;
  }
}

.login-message {
  grid-column: 2;
  display: grid;
  place-items: center;
  font-weight: bold;
  span {
    font-size: 1.25rem;
    color: white;
  }
}

/* part of login-container which contains inputs for username, password, email*/
.login-form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  max-width: 18rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  opacity: 0;
  animation: opacity 0.85s ease-in forwards;
  padding-inline: 0.5rem;
  width: 100%;
  input {
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    width: 100%;
    color: white;
    transition: 0.5s;

    &::placeholder {
      transition: 0.25s;
      color: rgba(255, 255, 255, 0.8);
    }

    &:focus {
      outline: 1px solid rgb(var(--secondary-color));
      &::placeholder {
        opacity: 0;
      }
    }
  }
  .login-button-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  button {
    display: flex;
    gap: 0.5rem;
    width: fit-content;
    background-color: rgba(var(--secondary-color), 0.75);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.25rem;
    padding-inline: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.4s;
    span {
      color: white;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.35);
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 4px 2px rgba(var(--secondary-color), 0.5);
    }
  }
  .building-warning-label {
    position: absolute;
    bottom: -1rem;
    white-space: nowrap;
  }

  @media (width < 43rem) {
    margin: 1rem 0 0 0;
    .building-warning-label {
      bottom: -2rem;
      white-space: normal;
    }
  }
}

/* background animation for login form */
.login-form__background {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  background-color: #8ec5fc;
  background: linear-gradient(#2121213a, #2121213a) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: -0.25rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  background-size: 400% 100%;
  animation: gradient 7s linear infinite;
  h2 {
    color: white;
  }
}

@keyframes gradient {
  0% {
    background-position-x: 0%;
    background-position-y: 0%;
  }

  50% {
    background-position-x: 100%;
    background-position-y: 0%;
  }

  100% {
    background-position-x: 0%;
    background-position-y: 0%;
  }
}

button.link-button {
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  padding-inline: 0;
  width: fit-content;
  font: inherit;
  background-color: transparent;
  color: rgb(30, 238, 214);
  &:focus {
    outline: none;
    box-shadow: none;
    text-shadow: 0 0 6px rgba(var(--secondary-color), 0.5);
  }
}

button.link-button:hover {
  color: white;
  background-color: transparent;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(4px);
}

.modal {
  display: grid;
  padding: 2rem;
  background-color: rgb(230, 230, 230);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 28rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(199, 199, 199, 0.329);
  h2 {
    color: #333;
  }
  &:has(.message) {
    padding: 0;
  }
}

.reset-password-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  input {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background: white;
    font-size: 0.95rem;
    transition: all 0.3s ease;
  }

  span {
    color: white;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-inline: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 4px 0px rgba(90, 90, 90, 0.5);
  }

  .primary-button {
    background: rgba(10, 58, 64, 0.95);
  }

  .close-button {
    margin: 0 auto;
  }

  .primary-button:disabled {
    background: rgba(10, 58, 64, 0.5);
    cursor: not-allowed;
  }

  .secondary-button {
    background-color: rgb(226, 88, 88);
  }
}

.message {
  font-weight: bold;
  text-align: center;
  padding: 2rem;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.form-field {
  position: relative;
  margin-bottom: 1rem;
}

.input-error {
  border-color: #b93946;
}

span.error-forgot-password {
  color: #ff2f44;
  margin: 0.25rem;
  font-size: 0.9rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
