@import "../../../../assets/styles/addons/variables";

li,
span {
  font-size: 0.9rem;
  color: $text-color;
}

.wrapper {
  display: grid;
  position: relative;
  overflow: hidden;
  border-radius: 0.35rem;
}

.header {
  display: grid;
  background-color: $header-color;
  border-radius: 0.35rem 0.35rem 0 0;
  padding: $standard-size;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    //grid-column: span 2;
    // background-color: red;
  }
  li {
    color: white;
    font-weight: bold;
  }
}

.container {
  display: grid;
  border-radius: $border-radius;
  box-shadow: $primary-shadow;
}

.levelList {
  display: grid;
  background-color: $input-bg;
}

.centered {
  display: grid;
  grid-template-columns: 1fr 1fr;
  //place-items: center;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-column: span 2;
  border-bottom: 1px solid $line-color;
  font-weight: bold;
  padding: $standard-size;
  span {
    display: grid;
  }
}

.status {
  display: flex;
  //justify-content: center;
  align-items: center;
  gap: $standard-size * 0.5;
}
