//variables
$primary-color: rgb(30, 30, 30);
$secondary-color: white;
$warning: hsl(356, 58%, 44%);
$warning2: #ff3131;

/* Color Theme Swatches in Hex */
$background-primary: #50A0BF;
$background-secondary: #79BED9;
$background-marginal-primary: #F2B680;
$background-marginal-secondary: #F2C6AC;
$background-marginal-last: #F2A2A2;
