@import "../../assets/styles/addons/variables",
  "../../assets/styles/addons/mixins";

$database-bg: lighten($main-color, 10);
.container-database {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  margin-top: 2rem;
  //padding: 1rem;
  width: 100%;
  height: 80%;
  border-radius: 0.5rem;
  background-color: $main-color;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.419);
  @include scroll-primary;
  p {
    color: white;
    font-size: clamp(1rem, 1.25rem, 2.25vw);
    font-weight: bold;
  }
  img {
    filter: brightness(8);
  }
  .wrapper-item {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s;
    overflow: hidden;
    p {
      min-height: 0;
      transition: 0.5s;
      border-radius: 0.35rem;
      background-color: rgb(76, 165, 165, 0.4);
      margin-right: 1rem;
    }
  }
  .wrapper-item.open {
    grid-template-rows: 1fr;
    p {
      padding: 0.5rem;
    }
  }
  .database-list-headline {
    display: grid;
    grid-template-columns: 1fr 0.5fr 5rem;
    grid-template-rows: fit-content;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    .toggles {
      grid-column: 3;
      //grid-row: 1;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-self: flex-end;
      height: fit-content;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 1.5rem;
        background-color: rgb(76, 165, 165, 0.4);
        border-radius: 0.35rem;
        color: white;
        font-weight: bold;
        transition: 0.4s;
        &:hover {
          background-color: rgb(76, 165, 165);
        }
      }
    }
    @mixin medium-screen {
    }
    @include small-screen {
      grid-template-columns: max-content 1fr;
    }
  }
  @media (width < 100rem) {
    width: 80%;
  }
}

.database-buttons {
  grid-column: 2;
  display: grid;
  grid-template-columns: subgrid;
  height: 100%;
  place-items: center;
  margin-right: 1rem;

  span {
    color: white;
    position: absolute;
    translate: 0 -2rem;
    transition: 1s;
  }
  img {
    width: 85%;
    height: 85%;
    //aspect-ratio: 1/1;
    transition: 1s;
    opacity: 0.85;
    filter: brightness(1);
  }
  @include small-screen {
    display: none;
  }
}

.wrapper-button {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  padding-inline: 1rem;
  gap: 0.5rem;
  background-color: rgb(76, 165, 165, 0.4);
  background-color: $database-bg;
  border-radius: 0.35rem;
}

.button {
  display: grid;
  place-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  background-color: $main-color;
  width: 2.5rem;
  height: 1.85rem;
  margin: 0.2rem;
  padding-inline: 0.2rem;
  border-radius: 0.25rem;
  contain: paint;
  transition: 0.35s;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.65);
    background-color: lighten($main-color, 5);
  }
  &:hover img {
    translate: 0 2rem;
  }
  &:hover span {
    translate: 0 0;
  }
}

.button-tooltip {
  position: relative;
}

.tooltip {
  display: grid;
  place-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  height: 1.8rem;
  top: 2.5rem;
  width: max-content;
  padding-inline: 0.35rem;
  opacity: 0;
  translate: 0 1rem;
  transition: opacity 0.35s, translate 0.35s, visibility 0s 0.35s;
  color: white;
  &::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 1rem;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.65) transparent;
  }
}

.button-tooltip:hover .tooltip {
  position: absolute;
  opacity: 1;
  translate: 0 0;
  transition: opacity 0.35s, translate 0.35s, visibility 0s 0s;
  z-index: 1;
}

.database-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  //margin: 1rem;
  li {
    width: 100%;
    transition: 0.35s;
    padding-left: 1rem;
  }
  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.25rem;
      background-color: white;
      transition: 0.35s 0.35s;
      border-radius: 0.25rem;
    }
    &::before {
      content: "";
      position: absolute;
      width: 0.25rem;
      height: 100%;
      background-color: white;
      transition: 0.35s;
      border-radius: 0.25rem;
    }
    &.open::after {
      width: 0;
      transition: 0.35s;
    }
    &.open::before {
      transform: rotate(90deg);
      transition: 0.35s 0.35s;
    }
  }
}

.database-list-filter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  max-height: 3rem;
  position: relative;
  background-color: rgb(76, 165, 165, 0.4);
  background-color: lighten($main-color, 10);
  z-index: 1;
  overflow: hidden;
  &::after {
    content: "";
    background-color: rgb(76, 165, 165, 0.4);
    position: absolute;
    width: 90rem;
    z-index: -1;
  }
  @include small-medium-screen {
    max-height: 5rem;
    grid-template-columns: repeat(3, 1fr);
    //grid-template-rows: 1fr 1fr;
  }
}

.filter-item {
  display: flex;
  justify-content: center;
  font-size: clamp(0.8rem, 1rem, 2vw);
  font-weight: bold;
  color: white;
  transition: 0.35s;
  padding: 0.65rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.glass.database {
  display: grid;
  grid-template: 1fr / 1fr;
  position: absolute;
  top: 2%;
  right: 2%;
  width: 3rem;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
  &:hover {
    transform: scale(1.15);
  }
}

.about-class.database {
  display: flex;
  position: absolute;
  width: 12rem;
  right: 2%;
  top: 8%;
  flex-direction: column;
  background-color: $addons-color;
  border-radius: 0.35rem;
}

.error-list {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(0, 0, 0, 0.65);
  max-height: 10rem;
  overflow-y: scroll;
  gap: 0.5rem;
  padding-block: 1rem;
  border-radius: 0.35rem;
  @include scroll-primary;
  .error-headline {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: bold;
  }
  li {
    list-style: disc;
    list-style-position: inside;
    color: white;
    margin-left: 1rem;
    font-weight: bold;
  }
  img {
    width: 1rem;
    height: 1rem;
    position: absolute;
    filter: brightness(10);
    top: 0.5rem;
    right: 0.25rem;
    cursor: pointer;
    transition: 0.35s;
    &:hover {
      filter: invert(41%) sepia(94%) saturate(3788%) hue-rotate(340deg)
        brightness(100%) contrast(107%);
    }
  }
}

.congrats {
  display: grid;
  position: absolute;
  width: 100%;
  justify-content: center;
  top: 30%;
  p {
    display: grid;
    background-color: rgba(15, 179, 78, 0.5);
    font-weight: bold;
    font-size: 2rem;
    place-items: center;
    height: 6rem;
    padding-inline: 2rem;
    color: white;
    border-radius: 0.35rem;
  }
}
