//variables
$primary-color: rgb(30, 30, 30);
$secondary-color: white;
$accent-color: #50A0BF;  
$warning-color: #b02e37;
$warning-alt-color: #ff3131;

// background themes
$background-primary: #50A0BF;
$background-secondary: #79BED9;
$background-accent: #F2B680;
$background-light: #F2C6AC;
$background-alert: #F2A2A2;

//
$main-color: #0A3A40;

// fonts settings
$primary-font: 'Open Sans', sans-serif;

//margins and paddings
$default-margin: .5rem;
$default-padding: .5rem;

//responzive breakpoints
$breakpoint-sm: 40rem; // ? 36rem ??
$breakpoint-md: 60rem; // 48rem ??
$breakpoint-lg: 992px; // 62rem?
$breakpoint-xl: 75rem; // or more? 

// shadows and border
$default-radius: .5rem;
$default-shadow: 0 0 8px rgba(0,0,0, 1);
