.Database {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  height: 80%;
  border-radius: 0.5rem;
  background-color: #0a3a40;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.419);
  overflow-y: scroll;
}
.Database::-webkit-scrollbar {
  width: 0.5rem;
}
.Database::-webkit-scrollbar-thumb {
  background-color: rgba(121, 190, 217, 0.5);
}
.Database::-webkit-scrollbar-thumb:hover {
  background-color: #79bed9;
}
.Database p {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}
.Database img {
  filter: brightness(8);
}
.Database .wrapper-item {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s;
  overflow: hidden;
}
.Database .wrapper-item p {
  min-height: 0;
  transition: 0.5s;
  border-radius: 0.35rem;
  background-color: rgba(76, 165, 165, 0.4);
}
.Database .wrapper-item.open {
  grid-template-rows: 1fr;
}
.Database .wrapper-item.open p {
  padding: 0.5rem;
}
.Database .DatabaseListHeadline {
  display: grid;
  grid-template-columns: 1fr 0.5fr 5rem;
  grid-template-rows: fit-content;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.Database .DatabaseListHeadline .toggles {
  grid-column: 3;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-self: flex-end;
  height: -moz-fit-content;
  height: fit-content;
}
.Database .DatabaseListHeadline .toggles button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1.5rem;
  background-color: rgba(76, 165, 165, 0.4);
  border-radius: 0.35rem;
  color: white;
  font-weight: bold;
  transition: 0.4s;
}
.Database .DatabaseListHeadline .toggles button:hover {
  background-color: rgb(76, 165, 165);
}
@media (width < 100rem) {
  .Database {
    width: 80%;
  }
}

.database-buttons {
  grid-column: 2;
  display: grid;
  grid-template-columns: subgrid;
  height: 100%;
  place-items: center;
}
.database-buttons .wrapper-button {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: space-between;
  padding-inline: 1rem;
  gap: 0.5rem;
  background-color: rgba(76, 165, 165, 0.4);
  border-radius: 0.35rem;
}
.database-buttons .button {
  display: grid;
  place-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  width: 2.5rem;
  height: 1.85rem;
  margin: 0.2rem;
  padding-inline: 0.2rem;
  border-radius: 0.25rem;
  contain: paint;
  transition: 0.35s;
}
.database-buttons .button:hover {
  background-color: rgba(0, 0, 0, 0.65);
}
.database-buttons .button:hover img {
  translate: 0 2rem;
}
.database-buttons .button:hover span {
  translate: 0 0;
}
.database-buttons span {
  color: white;
  position: absolute;
  translate: 0 -2rem;
  transition: 1s;
}
.database-buttons img {
  width: 1.8rem;
  height: 100%;
  transition: 1s;
  opacity: 0.85;
}

.button-tooltip {
  position: relative;
}

.tooltip {
  display: grid;
  place-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  height: 1.8rem;
  top: 2.5rem;
  width: -moz-max-content;
  width: max-content;
  padding-inline: 0.35rem;
  opacity: 0;
  translate: 0 1rem;
  transition: 0.35s;
  color: white;
}
.tooltip::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 1rem;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.65) transparent;
}

.button-tooltip:hover .tooltip {
  position: absolute;
  opacity: 1;
  translate: 0 0;
}

.DatabaseList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.DatabaseList li {
  width: 100%;
  transition: 0.35s;
  cursor: pointer;
}
.DatabaseList .toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 1rem;
  position: relative;
}
.DatabaseList .toggle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  background-color: white;
  transition: 0.35s 0.35s;
  border-radius: 0.25rem;
}
.DatabaseList .toggle::before {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 100%;
  background-color: white;
  transition: 0.35s;
  border-radius: 0.25rem;
}
.DatabaseList .toggle.open::after {
  width: 0;
  transition: 0.35s;
}
.DatabaseList .toggle.open::before {
  transform: rotate(90deg);
  transition: 0.35s 0.35s;
}

.glass.database {
  display: grid;
  grid-template: 1fr/1fr;
  position: absolute;
  top: 2%;
  right: 2%;
  width: 3rem;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
}
.glass.database:hover {
  transform: scale(1.15);
}

.about-class.database {
  display: flex;
  position: absolute;
  width: 12rem;
  right: 2%;
  top: 8%;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.35rem;
}

.error-list {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(0, 0, 0, 0.65);
  max-height: 10rem;
  overflow-y: scroll;
  gap: 0.5rem;
  padding-block: 1rem;
  border-radius: 0.35rem;
  overflow-y: scroll;
}
.error-list::-webkit-scrollbar {
  width: 0.5rem;
}
.error-list::-webkit-scrollbar-thumb {
  background-color: rgba(121, 190, 217, 0.5);
}
.error-list::-webkit-scrollbar-thumb:hover {
  background-color: #79bed9;
}
.error-list .error-headline {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: bold;
}
.error-list li {
  list-style: disc;
  list-style-position: inside;
  color: white;
  margin-left: 1rem;
  font-weight: bold;
}
.error-list img {
  position: absolute;
  filter: brightness(10);
  top: 0.5rem;
  right: 0;
  cursor: pointer;
}

.congrats {
  display: grid;
  position: absolute;
  width: 100%;
  justify-content: center;
  top: 30%;
}
.congrats p {
  display: grid;
  background-color: rgba(15, 179, 78, 0.5);
  font-weight: bold;
  font-size: 2rem;
  place-items: center;
  height: 6rem;
  padding-inline: 2rem;
  color: white;
  border-radius: 0.35rem;
}/*# sourceMappingURL=database-styles.css.map */