* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(50, 50, 50);
}
* body {
  width: 100vw;
  overflow-x: hidden;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}

/* container-background is layout for Background components
* it is parent component for each components around game page
* uses animation for a smooth transition
*/
.container-background {
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;
  position: relative;
  width: 100%;
  max-height: calc(100vh - 4rem);
  opacity: 0;
  animation: blur 0.5s ease-out forwards;
}
@media (width < 100rem) {
  .container-background {
    display: flex;
  }
}

/*
* main structure for important components cssForm, Playground
*
*/
.container-mission {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  height: 100vh;
  max-height: calc(100vh - 4rem);
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  background-color: #79bed9;
  z-index: 1;
  overflow: hidden;
}
@media (min-width: 80rem) {
  .container-mission {
    box-shadow: inset 0 0 15px rgb(68, 68, 68);
  }
}

/* second horizontal half of game layout which contains 
 * start, crossover, end
 * grid divided on 3 part
*/
.container-playground {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40vh;
  max-height: 30vw;
  z-index: 1;
}

.container-bridge {
  display: flex;
  width: 100%;
  height: 100%;
}
.container-bridge div {
  width: 100%;
  height: 4rem;
  background-size: cover;
}
.container-bridge img {
  width: 100%;
  height: 4rem;
  height: auto;
}

/* Container for css component
- flex column
*/
.container-form {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.container-form .headline {
  display: flex;
  align-items: center;
}
.container-form img {
  height: 1.5rem;
  width: 1.5rem;
}
.container-form .class-button {
  position: absolute;
  left: 90%;
  cursor: pointer;
  transition: 0.5s;
}
.container-form .class-button:hover {
  transform: scale(1.2);
}

.box-buttons {
  display: flex;
  flex-direction: column;
}
.box-buttons img {
  align-self: center;
  cursor: pointer;
}
.box-buttons .play {
  display: grid;
}
.box-buttons .play input[type=checkbox] {
  position: absolute;
  place-self: end;
  translate: 0.2rem 0.2rem;
  cursor: pointer;
}

.form-css__row {
  height: 1.5rem;
  display: flex;
  gap: 1rem;
}
.form-css__row img {
  cursor: pointer;
}
.form-css__row .icon {
  left: 90%;
}

.icon {
  position: absolute;
}

.form-css {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: -moz-fit-content;
  width: fit-content;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  padding-inline: 2rem;
}
.form-css input[type=text] {
  font-weight: bold;
  max-width: 5rem;
  border: none;
  border-bottom: 2px dotted rgb(50, 50, 50);
  background-color: transparent;
}
.form-css input[type=text]:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
}

.error-message {
  display: flex;
  position: absolute;
  bottom: -60%;
  background-color: #c95661;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem;
  margin: 0.5rem;
  border-radius: 0.35rem;
  box-shadow: 0 0px 8px -2px rgb(0, 0, 0);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.error-message p {
  color: white;
}

button {
  display: flex;
  border: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
button img {
  transition: 0.5s;
}
button img:hover {
  transform: scale(1.2);
}

.suggest-list {
  display: grid;
  position: absolute;
  top: 8rem;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.6);
  width: -moz-fit-content;
  width: fit-content;
  min-width: 10rem;
  margin-left: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  max-height: 8rem;
  overflow-y: scroll;
}
.suggest-list::-webkit-scrollbar {
  width: 0.5rem;
}
.suggest-list::-webkit-scrollbar-thumb {
  background-color: rgba(121, 190, 217, 0.5);
}
.suggest-list::-webkit-scrollbar-thumb:hover {
  background-color: #79bed9;
}
.suggest-list span {
  font-weight: bold;
}
.suggest-list li {
  padding-inline: 0.5rem;
  color: white;
  cursor: pointer;
  width: 100%;
}
.suggest-list li:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.start {
  display: flex;
  position: relative;
  width: 100%;
  background-size: auto;
  background-repeat: repeat;
}

.crossover {
  display: flex;
  width: 100%;
  position: relative;
  align-items: flex-start;
  z-index: 1;
}
.crossover .crossover__image {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.end {
  display: flex;
  position: relative;
  width: 100%;
  background-size: auto;
  background-repeat: repeat;
}

.lawn {
  width: 100%;
  height: 2rem;
  background-size: contain;
  background-repeat: repeat-x;
  position: absolute;
  top: -2rem;
  border-radius: 5rem 5rem 0 0;
}

.target-area {
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.target-area__part {
  height: 4rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  border: 2px dashed grey;
}

.emoji-character {
  display: flex;
  width: 4rem;
  position: absolute;
  top: -3.95rem;
  transform-origin: center;
}
.emoji-character.enemy {
  right: 0;
  transform: translateX(5rem);
}
.emoji-character.enemy.twenty-one-true {
  animation: twentyOneTrue 3s linear forwards;
}
.emoji-character.enemy.twenty-one-false {
  animation: twentyOneFalse 2s linear forwards;
}

@keyframes twentyOneTrue {
  50% {
    transform: translateX(-10rem) rotate(-2turn);
  }
  100% {
    transform: translateX(5rem) rotate(0turn);
  }
}
@keyframes twentyOneFalse {
  100% {
    transform: translateX(-10rem) rotate(-2turn);
  }
}
.emoji-character.true {
  left: 90%;
  animation: rotate 6s linear;
}

.emoji-character.false {
  opacity: 1;
  animation: error-run 6s linear;
}
@media (max-width: 80rem) {
  .emoji-character.false {
    animation: error-run-small 6s linear;
  }
}

.emoji-character.stairs-run {
  left: 90%;
  top: 8rem;
  z-index: 1;
  animation: fromStairs 6s linear;
}

.emoji-character.twenty-one {
  animation: rotate 6s linear 2s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    left: 0;
  }
  100% {
    transform: rotate(1080deg);
    left: 90%;
  }
}
@keyframes fromStairs {
  0% {
    transform: rotate(0deg);
    left: 0;
    top: -3.95rem;
  }
  44% {
    transform: rotate(475deg);
    left: 44%;
    top: -3.95rem;
  }
  50% {
    transform: rotate(540deg);
    left: 44%;
    top: 0rem;
  }
  61% {
    transform: rotate(650deg);
    left: 55%;
    top: 0rem;
  }
  70% {
    transform: rotate(750deg);
    left: 55%;
    top: 4rem;
  }
  81% {
    transform: rotate(860deg);
    left: 66%;
    top: 4rem;
  }
  90% {
    transform: rotate(960deg);
    left: 66%;
    top: 8rem;
  }
  100% {
    transform: rotate(1080deg);
    left: 90%;
    top: 8rem;
  }
}
/*@keyframes main-twenty-one{
    0% {
        transform: rotate(0deg);
        left: 0;
    }

    100% {
        transform: rotate(1080deg);
        left: 90%;
    }
}*/
@keyframes error-run {
  50% {
    transform: translateX(24rem) rotate(2turn);
  }
  100% {
    transform: translateX(0) rotate(0turn);
  }
}
@keyframes error-run-small {
  50% {
    transform: translateX(28vw) rotate(2turn);
  }
  100% {
    transform: translateX(0) rotate(0turn);
  }
}
.box-wave {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
  max-height: 12rem;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2c74b3;
  box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.6);
  overflow: hidden;
  z-index: -1;
}

.wave:before,
.wave:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 180%;
  height: 300%;
  max-height: 800px;
  max-width: 600px;
  background: black;
  transform: translate(-50%, -75%);
}

.wave:before {
  border-radius: 45%;
  background-color: #79bed9;
  animation: animate 7s linear infinite;
}

.wave:after {
  border-radius: 40%;
  background-color: rgba(121, 190, 217, 0.5);
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.message-result {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 55vh;
  font-size: 3rem;
  font-weight: bold;
  justify-self: center;
  z-index: 5;
  margin: 0 auto;
  padding: 1rem;
  padding-inline: 3rem;
  gap: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  opacity: 0;
  animation: blur 1s forwards;
}
.message-result:has(.win) {
  display: flex;
  background-color: rgba(73, 167, 128, 0.5);
}
.message-result:has(.lost) {
  display: flex;
  background-color: #c95661;
  z-index: 1;
}
.message-result .next-level-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.75rem;
  position: relative;
  padding-inline: 0.5rem;
  transition: 0.25s;
  transform-origin: left;
  /*&:hover .retry {
    animation: rotation 1s linear forwards infinite;
  }*/
}
.message-result .next-level-button:hover .next-level {
  transition: 1s;
  animation: arrival 0.15s linear forwards;
}
.message-result .next-level-button:not(:hover) .next-level {
  animation: departure 0.15s linear forwards;
}
.message-result .next-level-button:has(.next-level):hover span {
  transform: translateX(-5%);
}
.message-result span {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  transition: 0.25s;
}
.message-result img {
  position: absolute;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}
.message-result img:hover {
  transform: scale(1.2);
}
.message-result .next-level {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0.7rem;
  transition: 1s;
  left: 90%;
  filter: brightness(2);
}
@media (max-width: 65rem) {
  .message-result {
    font-size: 1.5rem;
    bottom: 50vh;
  }
}

.retry-button {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.1019607843);
  box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25), 0px 0px 0px 1px rgba(9, 30, 66, 0.08);
  border-radius: 0.25rem;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 0.5rem;
}
.retry-button:hover .retry {
  animation: rotation 1s linear forwards infinite;
}
.retry-button .retry {
  position: relative;
  height: 1rem;
  width: 1rem;
}

@keyframes arrival {
  0% {
    left: 80%;
    opacity: 0;
  }
  100% {
    left: 90%;
    opacity: 1;
  }
}
@keyframes departure {
  0% {
    left: 90%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
.win {
  color: white;
}

.lost {
  color: white;
}

.left-bracket {
  top: 0;
  left: 3rem;
}

.right-bracket {
  top: 4rem;
  filter: brightness(30%);
}

.box__classes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  gap: 3rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem;
}
@media (max-width: 65rem) {
  .box__classes {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 40rem) {
  .box__classes {
    grid-template-columns: 1fr;
  }
}

.empty-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  width: 15rem;
  aspect-ratio: 2/1;
}
.empty-box img {
  width: 2rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: 0.5s;
}
.empty-box img:hover {
  transform: scale(1.2);
}

img.obstacle {
  position: absolute;
  top: -12rem;
  left: -10rem;
  height: 12rem;
  width: 12rem;
}

.bridge__item {
  height: 4rem;
  max-width: 33.334%;
}

.glass {
  display: grid;
  grid-template: 1fr/1fr;
  position: absolute;
  top: -125%;
  right: -88%;
  width: 3rem;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
}
.glass:hover {
  transform: scale(1.15);
}
@media (width < 80rem) {
  .glass {
    position: fixed;
    top: 5rem;
    right: 5vw;
  }
}
@media (min-aspect-ratio: 3/1) {
  .glass {
    position: absolute;
    top: -40vh;
    right: -88%;
  }
}

.about-class {
  display: flex;
  position: absolute;
  width: 12rem;
  right: -95%;
  top: -110%;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.35rem;
}
@media (width < 80rem) {
  .about-class {
    position: fixed;
    top: 8.5rem;
    right: 2vw;
  }
}
@media (min-aspect-ratio: 3/1) {
  .about-class {
    position: absolute;
    top: -20vh;
    right: -95%;
  }
}

.about-class__article {
  z-index: 1;
  transition: 0.3s;
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  height: 0;
  animation: blure 0.5s linear forwards;
  overflow-y: scroll;
}
.about-class__article::-webkit-scrollbar {
  width: 0.5rem;
}
.about-class__article::-webkit-scrollbar-thumb {
  background-color: rgba(121, 190, 217, 0.5);
}
.about-class__article::-webkit-scrollbar-thumb:hover {
  background-color: #79bed9;
}
.about-class__article li {
  font-size: 1rem;
  list-style: none;
  color: white;
}

@keyframes blure {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 6rem;
    opacity: 0;
  }
  100% {
    height: 6rem;
    opacity: 1;
  }
}
.about-class__menu {
  display: flex;
  z-index: 1;
}
.about-class__menu li {
  display: flex;
  padding: 0.25rem;
  justify-content: center;
  width: 100%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
.about-class__menu li:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.about-class__menu li.active {
  background-color: rgba(255, 255, 255, 0.15);
}

.info-box {
  position: absolute;
  grid-row: 8;
  grid-column: span 12;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
}
.info-box p {
  color: white;
}/*# sourceMappingURL=game-styles.css.map */