@charset "UTF-8";
* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(50, 50, 50);
}
* body {
  width: 100vw;
  overflow-x: hidden;
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}

@font-face {
  font-family: "Fredoka", "sans-serif";
  src: url("@assets/fonts/fredoka/Fredoka-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.container-menu {
  display: flex;
  position: relative;
  background-color: #0a3a40;
  box-shadow: 0 0 5px black;
  justify-content: center;
  height: 4rem;
}
.container-menu a {
  font-size: 1.15rem;
  font-weight: bold;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.container-menu a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: 0.5s ease;
}
.container-menu a:hover::after {
  width: 100%;
}
.container-menu a.active span {
  color: rgba(255, 255, 255, 0.6);
}
.container-menu a.active::after {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}
.container-menu a span {
  color: white;
}
@media (max-width: 40rem) {
  .container-menu a span {
    visibility: hidden;
    height: 0.5rem;
  }
}
.container-menu .header-wrapper {
  display: grid;
  position: relative;
  width: 80rem;
}
.container-menu .navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 80rem;
}
.container-menu .menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 2vw;
}
@media (max-width: 40rem) {
  .container-menu .menu {
    display: none;
    position: absolute;
    height: -moz-fit-content;
    height: fit-content;
    top: 4rem;
    padding: 0.5rem;
    margin-right: 0.75rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #0a3a40;
    flex-direction: column;
    transition: 0.5s;
    opacity: 0;
    z-index: 5;
  }
  .container-menu .menu.active {
    display: flex;
  }
  .container-menu .menu .menu__item {
    z-index: 2;
  }
  .container-menu .menu.active {
    opacity: 1;
  }
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__item img {
  position: relative;
  bottom: -0.25rem;
  width: 1.5rem;
}
.menu__item.active img {
  filter: brightness(0.8);
}
.menu__item.logout img {
  filter: brightness(1);
}
.menu__item.logout.active span {
  color: white;
}
.menu__item.logout::after {
  height: 0;
}

@media (max-width: 40rem) {
  .menu-hamburger {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    top: 1.5rem;
    flex-direction: column;
    height: 1.75rem;
    width: 2rem;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin-right: 6.5vw;
  }
  .menu-hamburger span {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 0.35rem;
    transition: 0.5s;
    border-radius: 0.5rem;
  }
  .menu-hamburger span.active {
    box-shadow: inset 0 0 5px black;
  }
  .menu-hamburger:hover span {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.container-about {
  grid-column: 2;
  display: grid;
  background-color: #0a3a40;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 auto;
  margin-block: 3rem;
  padding: 1rem;
  box-shadow: 0 0 6px #303030;
  max-width: 80rem;
  max-height: 84dvh;
  overflow-y: scroll;
  border-radius: 0.5rem;
  overflow-y: scroll;
}
.container-about::-webkit-scrollbar {
  width: 0.5rem;
}
.container-about::-webkit-scrollbar-thumb {
  background-color: rgba(121, 190, 217, 0.5);
}
.container-about::-webkit-scrollbar-thumb:hover {
  background-color: #79bed9;
}
@media (width < 100rem) {
  .container-about {
    width: 80%;
  }
}
@media (max-width: 65rem) {
  .container-about {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 40rem) {
  .container-about {
    grid-template-columns: 1fr;
  }
}
.container-about article {
  grid-row: span 3;
  display: grid;
  grid-template-rows: subgrid;
  padding: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.35rem;
  background: rgba(255, 255, 255, 0.2);
  background-color: #0e525a;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.container-about article.low-level {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}
.container-about article h2,
.container-about article p,
.container-about article button {
  color: white;
  font-weight: bold;
}
.container-about article button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem;
  padding-inline: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  transition: 1s;
}
.container-about article button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.container-level {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  row-gap: 1rem;
}
.container-level main {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}
.container-level section {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}
.container-level article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (max-width: 40rem) {
  .container-level main,
  .container-level section {
    width: 94%;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
.container-level hr {
  border: 0.1rem solid #297883;
  opacity: 0.15;
}
.container-level h2 {
  text-transform: uppercase;
}
.container-level h2,
.container-level h3,
.container-level p,
.container-level li {
  font-size: 1.5rem;
}
.container-level h2,
.container-level h3,
.container-level p,
.container-level li {
  color: rgb(60, 60, 60);
}
.container-level p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
.container-level ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}
.container-level li {
  display: flex;
  flex-direction: column;
}
.container-level li div {
  display: flex;
  align-items: center;
}
.container-level img {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  top: 0.17rem;
}
.container-level .video__section iframe {
  width: 840px;
  height: 473px;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem black;
}
@media (max-width: 65rem) {
  .container-level .video__section iframe {
    width: 560px;
    height: 315px;
  }
}
@media (max-width: 40rem) {
  .container-level .video__section iframe {
    width: 80%;
    height: auto;
  }
}
.container-level .tip__section {
  background-color: rgba(45, 221, 183, 0.2);
}
.container-level .article__card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
}
.container-level .article__card h2 {
  position: absolute;
  z-index: 1;
  font-size: 3rem;
  color: white;
  transition: 0.5s;
}
.container-level .article__card img {
  width: 90%;
  max-width: 50rem;
  height: 90%;
  border-radius: 1rem;
  filter: brightness(0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
.container-level .article__card:hover h2 {
  opacity: 0;
  transform: translateY(-20rem);
}
.container-level .article__card:hover img {
  filter: brightness(1);
  transform: scale(1.05);
  box-shadow: 0px 0px 0px transparent;
}
.container-level .article__card p {
  display: flex;
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  padding: 1rem;
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.568);
  transform: translateY(20rem);
  transition: 0.5s;
  z-index: 2;
}
@media (max-width: 40rem) {
  .container-level .article__card p,
  .container-level .article__card h2 {
    font-size: 1.5rem;
  }
}
.container-level .article__card:hover p {
  opacity: 1;
  transform: translateY(0);
}
.container-level .article__card .fancy-border {
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
}

.container-login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(10, 58, 64, 0.85);
  height: 15rem;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 0.5rem;
}
@media (max-width: 40rem) {
  .container-login {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.login__info {
  display: flex;
  flex-direction: column;
}
.login__info div {
  display: flex;
  gap: 0.5rem;
}
.login__info span {
  font-size: 1.25rem;
  color: white;
  margin-inline: 0.5rem;
}
.login__info button {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.35rem 0.25rem 0.35rem 0.25rem;
  position: relative;
  z-index: 1;
}
.login__info button.active {
  transition: 0.5s;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.login__info p {
  color: white;
  font-size: 1.25rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 18rem;
  margin: 0 auto;
  opacity: 0;
  animation: opacity 0.85s ease-in forwards;
  padding-inline: 0.5rem;
}
.login-form input {
  background-color: transparent;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  color: white;
  transition: 0.5s;
}
.login-form input::-moz-placeholder {
  -moz-transition: 0.25s;
  transition: 0.25s;
  color: white;
}
.login-form input::placeholder {
  transition: 0.25s;
  color: white;
}
.login-form input:focus {
  outline: none;
}
.login-form input:focus::-moz-placeholder {
  opacity: 0;
}
.login-form input:focus::placeholder {
  opacity: 0;
}
.login-form input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.5s;
}
.login-form input[type=submit]:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}
@media (max-width: 40rem) {
  .login-form {
    margin: 1rem 0 0 0;
  }
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}
.login-form__background {
  max-width: 50rem;
  margin: 0 auto;
  background-color: #8ec5fc;
  background: linear-gradient(rgba(33, 33, 33, 0.2274509804), rgba(33, 33, 33, 0.2274509804)) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: -0.25rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  background-size: 400% 100%;
  animation: gradient 7s linear infinite;
}
.login-form__background h2 {
  color: white;
}

@keyframes gradient {
  0% {
    background-position-x: 0%;
    background-position-y: 0%;
  }
  50% {
    background-position-x: 100%;
    background-position-y: 0%;
  }
  100% {
    background-position-x: 0%;
    background-position-y: 0%;
  }
}
.loader {
  margin: 0 auto;
  width: 3rem;
  padding: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  margin: 1rem;
  background-color: #0a3a40;
}

.users-list__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #43848d;
  position: relative;
}
.users-list__item li {
  color: white;
  word-wrap: break-word;
}
.users-list__item img {
  position: absolute;
  width: 1.5rem;
  bottom: 0;
  right: 0;
  filter: brightness(8);
}

.message__alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 3rem;
  border-radius: 0.5rem;
  background-color: rgba(40, 40, 40, 0.65);
  background-color: rgba(10, 58, 64, 0.65);
  background-color: #0a3a40;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}
.message__alert h2 {
  font-size: clamp(2rem, 3.5vw, 3rem);
  color: white;
}
.message__alert button {
  display: flex;
  color: white;
  position: relative;
  font-size: clamp(1.25rem, 1vw, 1.5rem);
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  align-items: center;
  border-radius: 0.15rem;
  padding-inline: 0.75rem;
  transition: 0.5s;
  background-color: rgb(180, 206, 205);
  background-color: #0a3a40;
  border: 1px solid white;
}
.message__alert button:hover {
  color: rgb(60, 60, 60);
  background-color: white;
}

.error__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error__box img {
  width: 4rem;
  margin-top: 2rem;
}
.error__box p {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.temporary__box {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  right: -95%;
  top: -130%;
  width: 15rem;
  height: 10rem;
  z-index: 0;
}
.temporary__box.active {
  display: grid;
}
.temporary__box img {
  position: relative;
  height: 7rem;
  width: 7rem;
}
.temporary__box .label__circle {
  grid-area: 1/2;
  top: -1rem;
  right: -0.6rem;
}
.temporary__box .label__arrow {
  grid-area: 1/1;
  transform: rotate(15deg);
  top: 2.5rem;
  right: -1.25rem;
}
.temporary__box .label__close {
  grid-area: 3/2;
  width: 1.25rem;
  height: 1.25rem;
  top: 1.35rem;
  right: 0.75rem;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}
.temporary__box .label__close:hover {
  transform: scale(1.2);
}
.temporary__box p {
  position: absolute;
  font-style: italic;
  grid-area: 3/span 2;
  right: 2.5rem;
  width: 12rem;
}
@media (width < 80rem) {
  .temporary__box {
    position: fixed;
    top: 4rem;
    right: 2rem;
  }
}
@media (min-aspect-ratio: 3/1) {
  .temporary__box {
    position: absolute;
    top: -43vh;
    right: -95%;
  }
}
@media (max-width: 65rem) {
  .temporary__box {
    right: 1vw;
  }
}

.bug-message {
  display: grid;
  place-items: center;
  background-color: #0a3a40;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem 0 0 0;
  transition: 1s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
  overflow-y: scroll;
  overflow-x: hidden;
}
.bug-message::-webkit-scrollbar {
  width: 0.5rem;
}
.bug-message::-webkit-scrollbar-thumb {
  background-color: rgba(121, 190, 217, 0.5);
}
.bug-message::-webkit-scrollbar-thumb:hover {
  background-color: #79bed9;
}
.bug-message article {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.bug-message h2,
.bug-message p {
  color: white;
}
.bug-message.active {
  width: 40rem;
  height: 27.5rem;
  max-width: 100%;
  aspect-ratio: 3/2;
}
.bug-message .bug-image {
  position: absolute;
  height: 1.5rem;
  cursor: pointer;
  transition: 1s;
  translate: 0 0;
}
.bug-message .bug-image.active {
  animation: moveBug 5s linear infinite;
  transition: 1s;
  translate: -19rem -12.5rem;
}
.bug-message .bug-image:hover {
  rotate: -45deg;
}
.bug-message .bug-image.active:hover {
  rotate: 135deg;
}
@media (max-width: 40rem) {
  .bug-message .bug-image.active {
    translate: -47vw -12.5rem;
  }
}

@keyframes moveBug {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
.bug-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
  height: 80%;
  width: 90%;
  opacity: 0;
  animation: go-in 1s linear 0.25s forwards;
}
.bug-form input[type=submit] {
  border: none;
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding-inline: 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.35rem;
  transition: 0.4s;
}
.bug-form input[type=submit]:hover {
  background-color: #303030;
  color: white;
}
.bug-form textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}
.bug-form span {
  color: white;
  font-weight: bold;
}

.bug-form-box {
  display: grid;
}
.bug-form-box label {
  color: white;
  font-weight: bold;
}
.bug-form-box input[type=text] {
  border: none;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: #3b6166;
}
.bug-form-box input[type=file] {
  display: none;
}

.bug-form-button {
  display: flex;
  background-color: #101010;
  border-radius: 0.15rem;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  gap: 0.5rem;
  padding: 0.35rem;
  box-shadow: 0 0 8px rgb(53, 53, 53);
  overflow: hidden;
  transition: 0.35s;
}
.bug-form-button span {
  transition: 0.5s;
}
.bug-form-button img {
  transition: 0.5s;
}
.bug-form-button:hover {
  translate: 0;
  background-color: rgb(255, 255, 255);
}
.bug-form-button:hover span {
  color: #101010;
}
.bug-form-button:hover img {
  filter: brightness(0.1);
}

button.bug-form-button {
  display: grid;
  grid-template-columns: min-content min-content;
  width: -moz-fit-content;
  width: fit-content;
  place-items: center;
  padding-block: 0.5rem;
  padding-bottom: 1.75rem;
  font-size: 1rem;
}

.files-box h3 {
  color: white;
}

.file-list {
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.5rem;
}

.file {
  display: grid;
  grid-template-columns: subgrid;
  place-items: center start;
  grid-column: span 2;
  gap: 0.5rem;
}
.file img {
  transition: 0.35s;
  cursor: pointer;
}
.file img:hover {
  filter: brightness(1.4);
  scale: 1.1;
}

@keyframes go-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bug-walk {
  0% {
    translate: 0 0;
    rotate: 0deg;
  }
  20% {
    translate: 0 -10rem;
    rotate: 0deg;
  }
  30% {
    translate: 0 -10rem;
    rotate: -90deg;
  }
  60% {
    translate: -19rem -10rem;
    rotate: -90deg;
  }
  65% {
    translate: -19rem -10rem;
    rotate: 0deg;
  }
  99% {
    translate: -19rem -12rem;
    rotate: 0deg;
  }
  100% {
    translate: -19rem -12rem;
    transition: 2s;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.progress-bar {
  place-self: center;
  width: 10rem;
  height: 1rem;
  border-radius: 0.15rem;
  background: linear-gradient(#80d7e2 0 0) 0/0% no-repeat rgb(76, 165, 165);
  animation: l2 2s infinite steps(10);
}

@keyframes l2 {
  100% {
    background-size: 110%;
  }
}
.logo {
  place-self: center start;
  position: absolute;
  transition: 0.5s;
  translate: 2rem;
}
.logo.finished::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background-color: #126a75;
  filter: blur(16px);
  animation: background-ease 0.5s 0.75s linear forwards;
  translate: -1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: -1;
}

.main-text {
  font-family: monospace;
  color: #d7ba7d;
  transition: 0.5s;
  rotate: 0deg;
}

.main-text.finished {
  font-family: "Fredoka";
  color: white;
  font-size: 2.25rem;
  font-weight: bold;
  text-shadow: 0 0 4px black;
  transition: 0.5s;
  z-index: 1;
}
.main-text.finished.second-letter {
  display: inline-block;
  color: white;
  animation: colored-second 0.5s 0.5s forwards;
}
.main-text.finished.fifth-letter {
  display: inline-block;
  color: white;
  animation: colored-fifth 0.5s 0.5s forwards;
}

.finish-bracket {
  display: inline-block;
  font-family: "Fredoka";
  opacity: 1;
  transition: 1s;
  color: #1fb2c4;
  font-size: 1.8rem;
  transition: 0.5s;
  font-weight: bold;
  text-shadow: 0 0 4px #303030;
  transition-delay: 5s;
  transition: 0.5s;
  animation: bracket-animation 1s 1.5s forwards;
  rotate: 0deg;
  margin-right: 0.15rem;
  translate: 0 0rem;
}
.finish-bracket.first-bracket {
  translate: 0 0rem;
}

@keyframes bracket-animation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 3deg;
  }
}
.attribute-text {
  font-family: monospace;
  color: #c586c0;
}

.values-text {
  font-family: monospace;
  color: #d4bfff;
  color: #cfcfa1;
}

@keyframes background-ease {
  0% {
    width: 0;
    height: 80%;
  }
  80% {
    width: 120%;
    height: 80%;
    transform: skew(40deg, 0deg);
  }
  100% {
    width: 120%;
    height: 80%;
    transform: skew(40deg, 0deg);
  }
}
@keyframes colored-second {
  from {
    color: white;
  }
  to {
    color: #1fb2c4;
    rotate: -9deg;
  }
}
@keyframes colored-fifth {
  from {
    color: white;
  }
  to {
    color: #1fb2c4;
    rotate: -9deg;
  }
}
/*
Selektory: #D7BA7D
Vlastnosti: #9CDCFE
Hodnoty: #CE9178
Jednotky: #B5CEA8
Závorky a interpunkce: #D4D4D4
Komentáře: #6A9955
*//*# sourceMappingURL=index.css.map */